---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Get The Best Website Designer, developer In London| technoserve">
    <!-- Start Breadcrumb 
    ============================================= -->
    <div
        class="breadcrumb-area bg-gray bg-cover"
        style="background-image: url(/assets/img/shape/banner-3.jpg);"
    >
        <div class="container">
            <div class="breadcrumb-item">
                <div class="breadcrum-shape">
                    <img src="/assets/img/shape/16.png" alt="Image Not Found" />
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li>
                                    <a href="/"
                                        ><i class="fas fa-home"></i> Home</a
                                    >
                                </li>
                                <li class="active">Services</li>
                            </ol>
                        </nav>
                        <h1>Services We Provide</h1>
                        <p>
                            We are a web design and software development company
                            in London with a team of highly skilled developers,
                            designers and product developers. We pride ourselves
                            in providing high-quality services to our clients at
                            a reasonable cost.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start Services 
    ============================================= -->
    <div class="services-style-two-area service-two-grid bottom-less mt-75">
        <div class="container">
            <div class="row">
                <h3 id="web-development"><b>Web Development</b></h3>
                <!-- Start Single Item -->
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                    <div class="service-style-two">
                        <div class="icon">
                            <img
                                src="/assets/img/icon/5.png"
                                alt="Image Not Found"
                            />
                        </div>
                        <p>
                            Building responsive, engaging websites tailored to
                            your business's unique needs. Ensuring a strong
                            online presence with optimized performance.
                        </p>
                        <h4>
                            <a href="/services/web-development/website-development"
                                >Website Development</a
                            >
                        </h4>
                        <span>Development</span>
                        <a href="/services/web-development/website-development" class="icon-btn"
                            ><i class="fas fa-arrow-right"></i></a
                        >
                        <div class="shape">
                            <img
                                src="/assets/img/shape/15.webp"
                                alt="Image Not Found"
                            />
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Start Single Item -->
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                    <div class="service-style-two">
                        <div class="icon">
                            <img
                                src="/assets/img/icon/4.png"
                                alt="Image Not Found"
                            />
                        </div>
                        <p>
                            Creating custom WordPress websites that are easy to
                            manage and update. Perfect for businesses needing
                            flexibility and ease of use.
                        </p>
                        <h4>
                            <a href="/services/web-development/wordpress-development"
                                >WordPress Development</a
                            >
                        </h4>
                        <span>Development</span>
                        <a
                            href="/services/web-development/wordpress-development"
                            class="icon-btn"
                            ><i class="fas fa-arrow-right"></i></a
                        >
                        <div class="shape">
                            <img
                                src="/assets/img/shape/15.webp"
                                alt="Image Not Found"
                            />
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->

                <h3 id="web-designing"><b>Web Designing</b></h3>

                <!-- Start Single Item -->
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                    <div class="service-style-two">
                        <div class="icon">
                            <img
                                src="/assets/img/icon/6.png"
                                alt="Image Not Found"
                            />
                        </div>
                        <p>
                            Revamping your existing website to enhance its look,
                            feel, and functionality. Improving user experience
                            and aligning with modern design trends.
                        </p>
                        <h4>
                            <a href="/services/web-designing/website-redesigning"
                                >Website Redesigning</a
                            >
                        </h4>
                        <span>Web Designing</span>
                        <a href="/services/web-designing/website-redesigning" class="icon-btn"
                            ><i class="fas fa-arrow-right"></i></a
                        >
                        <div class="shape">
                            <img
                                src="/assets/img/shape/15.webp"
                                alt="Image Not Found"
                            />
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Start Single Item -->
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                    <div class="service-style-two">
                        <div class="icon">
                            <img
                                src="/assets/img/icon/7.png"
                                alt="Image Not Found"
                            />
                        </div>
                        <p>
                            Designing unique, attractive templates for your
                            website or online platform. Ensuring a cohesive and
                            professional appearance for your brand.
                        </p>
                        <h4>
                            <a href="/services/web-designing/template-designing"
                                >Template Designing</a
                            >
                        </h4>
                        <span>Web Designing</span>
                        <a href="/services/web-designing/template-designing" class="icon-btn"
                            ><i class="fas fa-arrow-right"></i></a
                        >
                        <div class="shape">
                            <img
                                src="/assets/img/shape/15.webp"
                                alt="Image Not Found"
                            />
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Start Single Item -->
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                    <div class="service-style-two">
                        <div class="icon">
                            <img
                                src="/assets/img/icon/8.png"
                                alt="Image Not Found"
                            />
                        </div>
                        <p>
                            Creating effective landing pages that drive
                            conversions and engagement. Focused on delivering a
                            seamless user experience for visitors.
                        </p>
                        <h4>
                            <a href="/services/web-designing/landingpage-designing"
                                >Landing Page Designing</a
                            >
                        </h4>
                        <span>Web Designing</span>
                        <a
                            href="/services/web-designing/landingpage-designing"
                            class="icon-btn"
                            ><i class="fas fa-arrow-right"></i></a
                        >
                        <div class="shape">
                            <img
                                src="/assets/img/shape/15.webp"
                                alt="Image Not Found"
                            />
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->

                <h3 id="app-development"><b>App Development</b></h3>
                
                <!-- Start Single Item -->
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                    <div class="service-style-two">
                        <div class="icon">
                            <img
                                src="/assets/img/icon/9.png"
                                alt="Image Not Found"
                            />
                        </div>
                        <p>
                            Developing user-friendly Android apps tailored to
                            your business requirements. Ensuring robust
                            functionality and a smooth user experience.
                        </p>
                        <h4>
                            <a href="/services/app-development/androidapp-development"
                                >Android App Development</a
                            >
                        </h4>
                        <span>App Development</span>
                        <a
                            href="/services/app-development/androidapp-development"
                            class="icon-btn"
                            ><i class="fas fa-arrow-right"></i></a
                        >
                        <div class="shape">
                            <img
                                src="/assets/img/shape/15.webp"
                                alt="Image Not Found"
                            />
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Start Single Item -->
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                    <div class="service-style-two">
                        <div class="icon">
                            <img
                                src="/assets/img/icon/9.png"
                                alt="Image Not Found"
                            />
                        </div>
                        <p>
                            Creating sleek and efficient iOS apps for Apple's
                            ecosystem. Combining excellent design with seamless
                            performance.
                        </p>
                        <h4>
                            <a href="/services/app-development/ios-app-development"
                                >IOS App Development
                            </a>
                        </h4>
                        <span>App Development</span>
                        <a href="/services/app-development/ios-app-development" class="icon-btn"
                            ><i class="fas fa-arrow-right"></i></a
                        >
                        <div class="shape">
                            <img
                                src="/assets/img/shape/15.webp"
                                alt="Image Not Found"
                            />
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Start Single Item -->
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                    <div class="service-style-two">
                        <div class="icon">
                            <img
                                src="/assets/img/icon/9.png"
                                alt="Image Not Found"
                            />
                        </div>
                        <p>
                            Building cross-platform apps using React Native for
                            iOS and Android. Offering a cost-effective solution
                            with high performance.
                        </p>
                        <h4>
                            <a href="/services/app-development/reactnative-app-development"
                                >React Native App Development</a
                            >
                        </h4>
                        <span>App Development</span>
                        <a
                            href="/services/app-development/reactnative-app-development"
                            class="icon-btn"
                            ><i class="fas fa-arrow-right"></i></a
                        >
                        <div class="shape">
                            <img
                                src="/assets/img/shape/15.webp"
                                alt="Image Not Found"
                            />
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->

                <h3 id="software-development"><b>Software Development</b></h3>

                <!-- Start Single Item -->
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                    <div class="service-style-two">
                        <div class="icon">
                            <img
                                src="/assets/img/icon/9.png"
                                alt="Image Not Found"
                            />
                        </div>
                        <p>
                            Developing software solutions to streamline
                            operations for Charity. Enhancing efficiency and
                            management capabilities.
                        </p>
                        <h4>
                            <a href="/services/software-development/charity-management-system"
                                >Charity Management System</a
                            >
                        </h4>
                        <span>Software Development</span>
                        <a
                            href="/services/software-development/charity-management-system"
                            class="icon-btn"
                            ><i class="fas fa-arrow-right"></i></a
                        >
                        <div class="shape">
                            <img
                                src="/assets/img/shape/15.webp"
                                alt="Image Not Found"
                            />
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Start Single Item -->
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                    <div class="service-style-two">
                        <div class="icon">
                            <img
                                src="/assets/img/icon/9.png"
                                alt="Image Not Found"
                            />
                        </div>
                        <p>
                            Creating systems to manage school activities,
                            administration, and communication. Ensuring smooth
                            and effective school operations.
                        </p>
                        <h4>
                            <a href="/services/software-development/school-management-system"
                                >School Management System</a
                            >
                        </h4>
                        <span>Software Development</span>
                        <a
                            href="/services/software-development/school-management-system"
                            class="icon-btn"
                            ><i class="fas fa-arrow-right"></i></a
                        >
                        <div class="shape">
                            <img
                                src="/assets/img/shape/15.webp"
                                alt="Image Not Found"
                            />
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Start Single Item -->
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                    <div class="service-style-two">
                        <div class="icon">
                            <img
                                src="/assets/img/icon/9.png"
                                alt="Image Not Found"
                            />
                        </div>
                        <p>
                            Developing software to manage vendor relationships
                            and procurement processes. Streamlining operations
                            for better efficiency.
                        </p>
                        <h4>
                            <a href="/services/software-development/logistics-management-system"
                                >Logistic Management System</a
                            >
                        </h4>
                        <span>Software Development</span>
                        <a
                            href="/services/software-development/logistics-management-system"
                            class="icon-btn"
                            ><i class="fas fa-arrow-right"></i></a
                        >
                        <div class="shape">
                            <img
                                src="/assets/img/shape/15.webp"
                                alt="Image Not Found"
                            />
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->

                <h3><b>Support</b></h3>

                <!-- Start Single Item -->
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                    <div class="service-style-two">
                        <div class="icon">
                            <img
                                src="/assets/img/icon/9.png"
                                alt="Image Not Found"
                            />
                        </div>
                        <p>
                            Providing ongoing support and updates to keep your
                            website running smoothly. Ensuring optimal
                            performance and security.
                        </p>
                        <h4>
                            <a href="/services/support/website-maintenance"
                                >Website Maintenance</a
                            >
                        </h4>
                        <span>Support</span>
                        <a href="/services/support/website-maintenance" class="icon-btn"
                            ><i class="fas fa-arrow-right"></i></a
                        >
                        <div class="shape">
                            <img
                                src="/assets/img/shape/15.webp"
                                alt="Image Not Found"
                            />
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Start Single Item -->
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                    <div class="service-style-two">
                        <div class="icon">
                            <img
                                src="/assets/img/icon/9.png"
                                alt="Image Not Found"
                            />
                        </div>
                        <p>
                            Ensuring your mobile app stays updated and performs
                            optimally. Providing consistent support and
                            troubleshooting.
                        </p>
                        <h4>
                            <a href="/services/support/mobile-app-maintenance"
                                >Mobile App Maintenance</a
                            >
                        </h4>
                        <span>Support</span>
                        <a
                            href="/services/support/mobile-app-maintenance"
                            class="icon-btn"
                            ><i class="fas fa-arrow-right"></i></a
                        >
                        <div class="shape">
                            <img
                                src="/assets/img/shape/15.webp"
                                alt="Image Not Found"
                            />
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->

                <h3><b>Designing</b></h3>

                <!-- Start Single Item -->
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                    <div class="service-style-two">
                        <div class="icon">
                            <img
                                src="/assets/img/icon/9.png"
                                alt="Image Not Found"
                            />
                        </div>
                        <p>
                            Designing user-friendly, responsive interfaces for
                            optimal web experience. Enhancing user satisfaction
                            and engagement.
                        </p>
                        <h4>
                            <a href="/services/designing/web-UI-UX design"
                                >Website UI & UX Design</a
                            >
                        </h4>
                        <span>Designing</span>
                        <a href="/services/designing/web-UI-UX design" class="icon-btn"
                            ><i class="fas fa-arrow-right"></i></a
                        >
                        <div class="shape">
                            <img
                                src="/assets/img/shape/15.webp"
                                alt="Image Not Found"
                            />
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Start Single Item -->
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                    <div class="service-style-two">
                        <div class="icon">
                            <img
                                src="/assets/img/icon/9.png"
                                alt="Image Not Found"
                            />
                        </div>
                        <p>
                            Creating intuitive and engaging designs for Android
                            apps. Focused on improving usability and user
                            interaction.
                        </p>
                        <h4>
                            <a href="/services/designing/app-UI-UX design"
                                >App UI & UX Design</a
                            >
                        </h4>
                        <span>Designing</span>
                        <a href="/services/designing/app-UI-UX design" class="icon-btn"
                            ><i class="fas fa-arrow-right"></i></a
                        >
                        <div class="shape">
                            <img
                                src="/assets/img/shape/15.webp"
                                alt="Image Not Found"
                            />
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Start Single Item -->
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                    <div class="service-style-two">
                        <div class="icon">
                            <img
                                src="/assets/img/icon/9.png"
                                alt="Image Not Found"
                            />
                        </div>
                        <p>
                            Designing custom WordPress themes to match your
                            brand. Offering a unique and professional look for
                            your website.
                        </p>
                        <h4>
                            <a href="/services/designing/wordpress-theme-design"
                                >WordPress Theme Design</a
                            >
                        </h4>
                        <span>Designing</span>
                        <a
                            href="/services/designing/wordpress-theme-design"
                            class="icon-btn"
                            ><i class="fas fa-arrow-right"></i></a
                        >
                        <div class="shape">
                            <img
                                src="/assets/img/shape/15.webp"
                                alt="Image Not Found"
                            />
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->

                <h3 id="digital-marketing"><b>Digital Marketing</b></h3>

                <!-- Start Single Item -->
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                    <div class="service-style-two">
                        <div class="icon">
                            <img
                                src="/assets/img/icon/9.png"
                                alt="Image Not Found"
                            />
                        </div>
                        <p>
                            Promoting non-profit organizations through targeted
                            online advertising. Increasing visibility and
                            support for your cause.
                        </p>
                        <h4>
                            <a href="/services/digital-marketing/charity-advertising"
                                >Charity Advertising</a
                            >
                        </h4>
                        <span>Digital Marketing</span>
                        <a href="/services/digital-marketing/charity-advertising" class="icon-btn"
                            ><i class="fas fa-arrow-right"></i></a
                        >
                        <div class="shape">
                            <img
                                src="/assets/img/shape/15.webp"
                                alt="Image Not Found"
                            />
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Start Single Item -->
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                    <div class="service-style-two">
                        <div class="icon">
                            <img
                                src="/assets/img/icon/9.png"
                                alt="Image Not Found"
                            />
                        </div>
                        <p>
                            Improving online visibility of non-profits through
                            strategic SEO techniques. Driving more traffic and
                            engagement.
                        </p>
                        <h4>
                            <a
                                href="/services/digital-marketing/charity-search-engine-optimisation"
                                >Charity Search Engine Optimisation</a
                            >
                        </h4>
                        <span>Digital Marketing</span>
                        <a
                            href="/services/digital-marketing/charity-search-engine-optimisation"
                            class="icon-btn"
                            ><i class="fas fa-arrow-right"></i></a
                        >
                        <div class="shape">
                            <img
                                src="/assets/img/shape/15.webp"
                                alt="Image Not Found"
                            />
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Start Single Item -->
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                    <div class="service-style-two">
                        <div class="icon">
                            <img
                                src="/assets/img/icon/9.png"
                                alt="Image Not Found"
                            />
                        </div>
                        <p>
                            Enhancing social media presence for charities to
                            engage more supporters. Building a strong community
                            online.
                        </p>
                        <h4>
                            <a href="/services/digital-marketing/charity-social-media-optimisation"
                                >Charity Social Media Optimisation</a
                            >
                        </h4>
                        <span>Digital Marketing</span>
                        <a
                            href="/services/digital-marketing/charity-social-media-optimisation"
                            class="icon-btn"
                            ><i class="fas fa-arrow-right"></i></a
                        >
                        <div class="shape">
                            <img
                                src="/assets/img/shape/15.webp"
                                alt="Image Not Found"
                            />
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Start Single Item -->
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                    <div class="service-style-two">
                        <div class="icon">
                            <img
                                src="/assets/img/icon/9.png"
                                alt="Image Not Found"
                            />
                        </div>
                        <p>
                            Re-engaging previous visitors with targeted ads to
                            increase support. Maximizing donations and
                            engagement through effective remarketing.
                        </p>
                        <h4>
                            <a href="/services/digital-marketing/charity-ads-remarketing"
                                >Charity Ads Remarketing</a
                            >
                        </h4>
                        <span>Digital Marketing</span>
                        <a
                            href="/services/digital-marketing/charity-ads-remarketing"
                            class="icon-btn"
                            ><i class="fas fa-arrow-right"></i></a
                        >
                        <div class="shape">
                            <img
                                src="/assets/img/shape/15.webp"
                                alt="Image Not Found"
                            />
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Start Single Item -->
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                    <div class="service-style-two">
                        <div class="icon">
                            <img
                                src="/assets/img/icon/9.png"
                                alt="Image Not Found"
                            />
                        </div>
                        <p>
                            Creating and sharing valuable content to attract and
                            engage donors. Building a strong content strategy
                            for non-profits.
                        </p>
                        <h4>
                            <a href="/services/digital-marketing/charity-content-marketing"
                                >Charity Content Marketing</a
                            >
                        </h4>
                        <span>Digital Marketing</span>
                        <a
                            href="/services/digital-marketing/charity-content-marketing"
                            class="icon-btn"
                            ><i class="fas fa-arrow-right"></i></a
                        >
                        <div class="shape">
                            <img
                                src="/assets/img/shape/15.webp"
                                alt="Image Not Found"
                            />
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
        </div>
    </div>
    <!-- End Services -->

    <!-- Start About 
    ============================================= -->
    <div class="about-style-one-area default-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-12">
                    <div
                        class="about-style-one bg-dark text-light"
                        style="background-image: url(/assets/img/shape/7.png);"
                    >
                        <ul class="check-list-item">
                            <li>
                                <h5>Expert Web Development</h5>
                                <p>
                                    Our team excels in creating custom,
                                    user-friendly websites that elevate your
                                    business and charity. We combine innovative
                                    design with cutting-edge technology to
                                    ensure your online presence is impactful and
                                    engaging.
                                </p>
                            </li>
                            <li>
                                <h5>Comprehensive Solutions</h5>
                                <p>
                                    We provide tailored solutions for businesses
                                    and charities, including web development,
                                    app development, and charity management
                                    systems.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-8 col-lg-12">
                    <div class="about-style-one">
                        <h2
                            class="title pl-120 pl-md-0 pl-xs-0 mb-70 mb-md-40 mb-xs-30 mt-md-50 mt-xs-30"
                        >
                            Providing the best service <br /> In <strong
                                >digital</strong
                            > marketing
                        </h2>
                        <div
                            class="thumb bg-cover"
                            style="background-image: url(/assets/img/2440x1578.png);"
                        >
                            <div class="video-bg-live">
                                <div
                                    class="player"
                                    data-property="{videoURL:'zwUsFN__jtE',containment:'.video-bg-live', showControls:false, autoPlay:true, zoom:0, loop:true, mute:true, startAt:105, opacity:1, quality:'default'}"
                                >
                                </div>
                            </div>
                            <a
                                href="https://www.youtube.com/watch?v=owhuBrGIOsEdsk"
                                class="popup-youtube video-play-button with-text mt-20"
                            >
                                <div class="effect"></div>
                                <span
                                    ><i class="fas fa-play"></i> OUR STORY</span
                                >
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About -->

    <!-- Start Testimonials 
    ============================================= -->
    <div class="testimonail-style-one-area default-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="testimonial-style-one-thumb">
                        <h2 class="text-large">Testimonial</h2>
                        <img
                            src="/assets/img/illustration/10.png"
                            alt="Image Not Found"
                        />
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 pt-200 pt-md-50 pt-xs-40">
                    <div class="testimonial-style-one-carousel swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Single item -->
                            <div class="swiper-slide">
                                <div class="testimonial-style-one">
                                    <div class="item">
                                        <div class="content">
                                            <p>
                                                “Working with Techno Serve
                                                has changed things for us.
                                                They handle our marketing,
                                                making us more visible and
                                                connecting better with
                                                supporters. Their responsive
                                                team helps us meet our goals
                                                quickly, making a real
                                                difference.”
                                            </p>
                                        </div>
                                        <div class="provider">
                                            <div class="thumb">
                                                <img
                                                    src="/assets/img/brand/ast.png"
                                                    alt="Thumb"
                                                />
                                            </div>
                                            <div class="info">
                                                <h4>
                                                    Alauddin Siddiqui Trust
                                                </h4>
                                                <span
                                                    >Senior Consultant</span
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single item -->
                            <!-- Single item -->
                            <div class="swiper-slide">
                                <div class="testimonial-style-one">
                                    <div class="item">
                                        <div class="content">
                                            <p>
                                                “Techno Serve has greatly
                                                improved our outreach. They
                                                manage our marketing very
                                                carefully, helping us
                                                connect better with donors.
                                                Their team also quickly
                                                helped us create our
                                                website, giving us a strong
                                                online presence. Their
                                                proactive approach helps us
                                                overcome challenges, moving
                                                our mission forward.”
                                            </p>
                                        </div>
                                        <div class="provider">
                                            <div class="thumb">
                                                <img
                                                    src="/assets/img/brand/awf.png"
                                                    alt="Thumb"
                                                />
                                            </div>
                                            <div class="info">
                                                <h4>Al-Wahab Foundation</h4>
                                                <span
                                                    >Marketing Manager</span
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single item -->
                            <!-- Single item -->
                            <div class="swiper-slide">
                                <div class="testimonial-style-one">
                                    <div class="item">
                                        <div class="content">
                                            <p>
                                                “Techno Serve has been a
                                                great partner for us. They
                                                manage our marketing and ads
                                                very well, which has helped
                                                us reach more people. Their
                                                team is dedicated and quick,
                                                allowing us to make a bigger
                                                impact in the
                                                charity sector.”
                                            </p>
                                        </div>
                                        <div class="provider">
                                            <div class="thumb">
                                                <img
                                                    src="/assets/img/brand/abt.png"
                                                    alt="Thumb"
                                                />
                                            </div>
                                            <div class="info">
                                                <h4>
                                                    Albaraka Welfare Trust
                                                </h4>
                                                <span>Senior Developer</span
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single item -->
                        </div>

                        <!-- If we need pagination -->
                        <div class="testimonial-style-one-pagination">
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonials -->

    <!-- Start Project Deal 
    ============================================= -->
    <div class="project-deal-area text-center default-padding bg-gray">
        <div class="deal-illustration">
            <img src="/assets/img/illustration/8.png" alt="Image Not Found" />
        </div>
        <div class="arrow-illustration">
            <img src="/assets/img/illustration/9.png" alt="Image Not Found" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="project-deal">
                        <h2 class="title">
                            Have any <strong>project?</strong>
                            <br /> Let’s talk & grow your business
                        </h2>
                        <a
                            class="btn mt-30 btn-md circle btn-gradient animation"
                            href="/contact">Send Message</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Project Deal -->
</Layout>
