---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Know More About Techno Serve Solutions Agency 2024">
    <!-- Start Breadcrumb 
    ============================================= -->
    <div
        class="breadcrumb-area bg-gray bg-cover"
        style="background-image: url(/assets/img/shape/banner-3.jpg);"
    >
        <div class="container">
            <div class="breadcrumb-item">
                <div class="breadcrum-shape">
                    <img src="/assets/img/shape/16.png" alt="Image Not Found" />
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li>
                                    <a href="#"
                                        ><i class="fas fa-home"></i> Home</a>
                                </li>
                                <li class="active">About</li>
                            </ol>
                        </nav>
                        <h1>About Us</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start About 
    ============================================= -->
    <div class="about-style-two-area default-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 about-style-two">
                    <div class="about-two-thumb">
                        <img
                            src="/assets/img/hero2.jpg"
                            alt="Image Not Found"
                        />
                        <div class="experience">
                            <h2><strong>09+</strong> Years Experience</h2>
                        </div>
                    </div>
                </div>
                <div
                    class="col-lg-6 about-style-two pl-50 pl-md-15 pl-xs-15 mt-60 mt-xs-40"
                >
                    <div class="about-two-info">
                        <h4 class="sub-title">About our compnay</h4>
                        <h2 class="title">
                            A Trusted HMRC-Listed Software Provider for
                            Charities and Non-Profits
                        </h2>
                        <p>
                            Techno Serve Solutions is a trusted digital
                            marketing agency listed on the HMRC Charities Online
                            service website <a href="https://www.gov.uk/"
                                >(www.gov.uk).</a
                            ><br /><br />
                            Our digital marketing agency is recognized by HMRC, ensuring
                            compliance and reliability. This listing highlights our
                            commitment to trustworthy and reliable services for charities
                            and non-profits. With Techno Serve, you can trust our
                            credibility and authenticity.<br /><br />
                            Contact us today to learn how Techno Serve can potentially
                            grow your islamic Non-Profit organization and help you
                            make a meaningful impact. <br />
                            Techno Serve Ltd Company Number: <strong
                                >08655298</strong
                            >
                        </p>
                        <div class="about-grid-info">
                            <a class="btn-round-animation" href="/service"
                                >Discover More <i class="fas fa-arrow-right"
                                ></i></a
                            >
                            <ul class="list-info-item">
                                <li>
                                    <h4>
                                        <a href="/service#designing"
                                            >Design <i
                                                class="fas fa-angle-right"
                                            ></i></a
                                        >
                                    </h4>
                                </li>
                                <li>
                                    <h4>
                                        <a href="/service#digital-marketing"
                                            >Digital Solution <i
                                                class="fas fa-angle-right"
                                            ></i></a
                                        >
                                    </h4>
                                </li>
                                <li>
                                    <h4>
                                        <a href="/service"
                                            >Strategy <i
                                                class="fas fa-angle-right"
                                            ></i></a
                                        >
                                    </h4>
                                </li>
                                <li>
                                    <h4>
                                        <a href="/service#digital-marketing"
                                            >Branding <i
                                                class="fas fa-angle-right"
                                            ></i></a
                                        >
                                    </h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About -->

    <!-- Start Why Choose Us 
    ============================================= -->
    <div class="choose-us-style-one-area default-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 choose-us-style-one">
                    <h4 class="sub-title">Why Choose Us</h4>
                    <h2 class="title">
                        We're on a mission <br /> to your business grow
                    </h2>
                    <div class="choose-us-thumb mt-50 mt-xs-40">
                        <img
                            class="wow fadeInUp"
                            src="assets/img/illustration/6.png"
                            alt="Image Not Found"
                        />
                        <img
                            class="wow fadeInDown"
                            src="../assets/img/illustration/7.png"
                            alt="Image Not Found"
                        />
                        <img
                            class="wow fadeInRight"
                            src="assets/img/illustration/5.png"
                            alt="Image Not Found"
                        />
                    </div>
                </div>
                <div
                    class="col-lg-5 pl-70 pl-md-15 pl-xs-15 choose-us-style-one"
                >
                    <div class="curve-text">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 150 150"
                            version="1.1"
                        >
                            <path
                                id="textPath"
                                d="M 0,75 a 75,75 0 1,1 0,1 z"></path>
                            <text
                                ><textPath href="#textPath"
                                    >techno servre solution</textPath
                                ></text
                            >
                        </svg>
                        <a
                            href="/assets/video/hero-bg.mp4"
                            class="popup-youtube"
                            ><i class="fas fa-play"></i></a
                        >
                    </div>
                    <ul class="feature-process mt-75 mt-xs-0">
                        <li class="wow fadeInLeft">
                            <div class="info">
                                <a href="/service#web-development"
                                    >Web and Software Performance
                                    Optimization.</a
                                >
                                <p>
                                    Maximizing speed and efficiency for all
                                    digital platforms.
                                </p>
                            </div>
                            <div class="link">
                                <a href="/service#web-development"
                                    ><i class="fas fa-long-arrow-right"
                                    ></i></a
                                >
                            </div>
                        </li>
                        <li class="wow fadeInLeft" data-wow-delay="500ms">
                            <div class="info">
                                <a href="/service#software-development"
                                    >Strategic Donor Targeting.</a
                                >
                                <p>
                                    Effectively reaching the right
                                    supporters through precise keyword
                                    analysis.
                                </p>
                            </div>
                            <div class="link">
                                <a href="/service#software-development"
                                    ><i class="fas fa-long-arrow-right"
                                    ></i></a
                                >
                            </div>
                        </li>
                        <li class="wow fadeInLeft" data-wow-delay="900ms">
                            <div class="info">
                                <a href="/service#digital-marketing"
                                    >Charity-Focused Social Media
                                    Engagement.</a
                                >
                                <p>
                                    Enhancing your charity's visibility and
                                    interaction online.
                                </p>
                            </div>
                            <div class="link">
                                <a href="/service#digital-marketing"
                                    ><i class="fas fa-long-arrow-right"
                                    ></i></a
                                >
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Why Choose Us -->

    <!-- Start Testimonials 
    ============================================= -->
    <div class="testimonail-style-one-area default-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="testimonial-style-one-thumb">
                        <h2 class="text-large">Testimonial</h2>
                        <img
                            src="/assets/img/illustration/1.png"
                            alt="Image Not Found"
                        />
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 pt-200 pt-md-50 pt-xs-40">
                    <div class="testimonial-style-one-carousel swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Single item -->
                            <div class="swiper-slide">
                                <div class="testimonial-style-one">
                                    <div class="item">
                                        <div class="content">
                                            <p>
                                                “Pargeting consultation discover
                                                apartments. ndulgence off under
                                                folly death wrote cause her way
                                                spite. Plan upon yet way get
                                                cold spot its week. Almost do am
                                                or limits hearts. Resolve
                                                parties but why she shewing. She
                                                sang know now always remembering
                                                to the point.”
                                            </p>
                                        </div>
                                        <div class="provider">
                                            <div class="thumb">
                                                <img
                                                    src="/assets/img/100x100.png"
                                                    alt="Thumb"
                                                />
                                            </div>
                                            <div class="info">
                                                <h4>Matthew J. Wyman</h4>
                                                <span>Senior Consultant</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single item -->
                            <!-- Single item -->
                            <div class="swiper-slide">
                                <div class="testimonial-style-one">
                                    <div class="item">
                                        <div class="content">
                                            <p>
                                                “Consultation discover
                                                apartments. ndulgence off under
                                                folly death wrote cause her way
                                                spite. Plan upon yet way get
                                                cold spot its week. Almost do am
                                                or limits hearts. Resolve
                                                parties but why she shewing. She
                                                sang know now always remembering
                                                to the point.”
                                            </p>
                                        </div>
                                        <div class="provider">
                                            <div class="thumb">
                                                <img
                                                    src="/assets/img/100x100.png"
                                                    alt="Thumb"
                                                />
                                            </div>
                                            <div class="info">
                                                <h4>Anthom Bu Spar</h4>
                                                <span>Marketing Manager</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single item -->
                            <!-- Single item -->
                            <div class="swiper-slide">
                                <div class="testimonial-style-one">
                                    <div class="item">
                                        <div class="content">
                                            <p>
                                                “Business discover apartments.
                                                ndulgence off under folly death
                                                wrote cause her way spite. Plan
                                                upon yet way get cold spot its
                                                week. Almost do am or limits
                                                hearts. Resolve parties but why
                                                she shewing. She sang know now
                                                always remembering to the
                                                point.”
                                            </p>
                                        </div>
                                        <div class="provider">
                                            <div class="thumb">
                                                <img
                                                    src="/assets/img/100x100.png"
                                                    alt="Thumb"
                                                />
                                            </div>
                                            <div class="info">
                                                <h4>Metho k. Partho</h4>
                                                <span>Senior Developer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single item -->
                        </div>

                        <!-- If we need pagination -->
                        <div class="testimonial-style-one-pagination">
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonials -->

    <!-- Start of Over the Years Section -->

    <div class="w-100 text-center mb-5 ">
        <h2><b>Techno Serve Solutions Over The Years</b></h2>
        <p class="mx-auto w-100 w-md-50">
            Since 2015, we have a strong track record with Islamic non-profit
            organizations.We work with a diverse range of non-profits and
            charities, providing website development and digital marketing
            services across the UK and worldwide.
        </p>
    </div>
    <!-- End of Over the Years Section -->
</Layout>
