---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="iCHARMS – PRO IT Software Support Agreement Terms and conditions - Techno Serve Software Solutions"
>
    <!-- Start Breadcrumb 
    ============================================= -->
    <div
        class="breadcrumb-area bg-gray bg-cover"
        style="background-image: url(/assets/img/shape/banner-3.jpg);"
    >
        <div class="container">
            <div class="breadcrumb-item">
                <div class="breadcrum-shape">
                    <img src="/assets/img/shape/16.png" alt="Image Not Found" />
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li>
                                    <a href="/"
                                        ><i class="fas fa-home"></i> Home</a
                                    >
                                </li>
                                <li class="active">
                                    Website Development & Annual Maintenance
                                    Contract Terms and Conditions
                                </li>
                            </ol>
                        </nav>
                        <h1>
                            Website Development and Annual Maintenance Contract
                            Terms and Conditions
                        </h1><br /><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <div class="container">
        <ol>
            <li>
                <h2>
                    1. iCHARMS &ndash; PRO IT Reliable Support (CMS) &ndash;
                    Introduction:
                </h2>In our fast-paced world, the inextricable link between IT
                and business is now so hardwired that it is almost impossible to
                imagine one without the other. Put quite simply, if your company
                is not digitised or online 24/7, 365 days a year, then it
                probably isn&rsquo;t functioning at all. In our digital era, it
                is no exaggeration to say that a modern business can only be as
                powerful as its IT Systems. As iCHARMS is our own product
                designed and developed by us, we are in the best position to
                offer you the most reliable up to the minute complete IT support
                solutions for both the products. We are also on hand in times of
                need and can provide crucial backup and troubleshooting, as well
                as the latest cyber security to protect your data which is your
                organisations&rsquo; most precious assets.<h2><br>
                    2. Our Services | Do more, worry less and leave the rest
                    (up-to us).
                </h2>At Techno Serve Ltd we aim to provide full and bespoke IT
                support services, tailored to our client&rsquo;s business and
                its unique requirements having the above motto for our client.
                Our services start with an in-depth consultation to pinpoint and
                analyse exactly how, where and why we can help your business get
                more out of its computing systems.<h3><br>
                    2.1 We shall offer the following and more to CARE AND RELIEF
                    FOUNDATION:
                </h3>
                <ul>
                    <li aria-level="1">Software solutions</li>
                    <li aria-level="1">
                        Virtual servers, data hosting and online backup
                    </li>
                    <li aria-level="1">
                        360-degree network security, including malware and
                        antivirus
                    </li>
                    <li aria-level="1">Expert IT engineers and technicians</li>
                    <li aria-level="1">
                        Troubleshooting support via phone, email or instant
                        messenger
                    </li>
                    <li aria-level="1">
                        Data quality management and Data Import / Export as per
                        timely requirements for your management.
                    </li>
                    <li aria-level="1">
                        Fixing any data issues on a priority basis, including
                        dealing with Country Office Admin for CMS.
                    </li><br>
                </ul>
            </li>
            <li>
                <h2>3. On Call Support | We are here for you:</h2>Our dedicated
                team of fully trained IT professionals are available for your
                support needs during normal office working hours which can be
                extended as per your priority need. In addition to expert
                advice, we use a unique dual flag and track system, which means
                that all outstanding issues are followed up until marked
                complete by both us and the client. We are aiming to store
                Investigation history forever in a secure server, meaning no
                issue is needlessly looked into twice; saving time and
                resources. I hope, so far you may rate our communication and
                availability &lsquo;very good&rsquo; if not
                &lsquo;excellent&rsquo; in resolving underlying issues at the
                earliest.<h2><br>
                    4. Customer Audit | Processes that Save Crucial Time and
                    Potential Economic and Work Loss:
                </h2>We are just a phone call or email away. You can call us on <strong
                    >+44(0)7429466754</strong
                > and email us on <strong
                    >support@technoservesoftwaresolutions.com</strong
                >During troubleshooting; our friendly and skilled consultants
                use remote desktop access in order to both investigate and
                provide walk-through fixes and demonstrations, fast &ndash;
                helping you resolve issues without additional costs in future.
                Experts on hand are available most of the day in normal working
                hours in accordance with Clause 3, which can be extended for
                your ease and availability with Advanced Pricing Options.<h2><br>
                    5. Client Case Study | The difference it can make to go with
                    iCHARMS PRO &ndash; IT Reliable Support:
                </h2>In the case of CARE AND RELIEF FOUNDATION there are
                hundreds of issues that can be listed down as &lsquo;case
                study&rsquo; which I strongly believe is not needed for you to
                make a wise and informed decision. I leave this section blank,
                as noting down one of the case study won&rsquo;t do justice to
                the problems faced, efforts and technical knowledge applied to
                find a solution, solution found &ndash; mutually discussed and
                agreed and actual implementation of that solution followed by
                retesting with a confirmation from your side of a proper and
                expected outcome.<h2><br>
                    6. iCHARMS &ndash; PRO IT | Pricing Plans &ndash; Flexible
                    Fees Designed To Suit All
                </h2>We call this as &lsquo;&rsquo;The Best Investment of any
                Organisation on its assets&rsquo;&rsquo;. iCHARMS &ndash; PRO IT
                Support Services offer a simple choice of packages at fixed
                price points to give flexibility and avoid large per hour fees.
                Pricing Structure Details: The outlined pricing structure is
                specifically tailored for the inaugural year of service.
                Following the initial 12 months, CARE AND RELIEF FOUNDATION will
                seamlessly transition to a rolling monthly contract. It&rsquo;s
                crucial to note that the pricing for subsequent periods may
                undergo revisions. These revisions are contingent upon factors
                such as inflation rates and workload demands, ensuring that the
                pricing remains reflective of the evolving nature of the
                services provided. Transition to Rolling Monthly Contract: After
                the first year, CARE AND RELIEF FOUNDATION will move away from
                the fixed annual commitment and enter into a rolling monthly
                contract. This transition allows for greater flexibility in
                adapting to the evolving needs of the client while maintaining a
                consistent and reliable support structure. Deactivation Notice:
                In the event that a client wishes to deactivate their account,
                it is required to provide a minimum of one month&rsquo;s notice.
                This notice period is essential for facilitating a smooth
                transition and allows both parties to finalise any outstanding
                matters. Additionally, CARE AND RELIEF FOUNDATION are expected
                to fulfil the necessary payment obligations during this notice
                period, ensuring a proper account closure without any
                disruptions in service or support. This transparent and
                collaborative approach to pricing and deactivation procedures
                reflects our commitment to maintaining a positive and mutually
                beneficial partnership with our CARE AND RELIEF FOUNDATION.<h2><br>
                    6.1 Basic Level Support:
                </h2>
                <table>
                    <tbody>
                        <tr>
                            <td>Sr. No</td>
                            <td>Services Offered</td>
                            <td><br /></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td
                                >Remote Desktop Support Including Email or Phone
                                Call Support</td
                            >
                            <td rowspan="2"><br /></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td
                                >Dedicated Expert Team in Normal Working Hours
                                in India</td
                            >
                        </tr>
                    </tbody>
                </table><br>
                <h2>6.2 Custom Solutions:</h2>Custom Solutions are also
                available in case it arises upon use of the application in the
                long run. These custom solutions will be provided as per the
                requirements and charges negotiated and agreed mutually.<h2><br>
                    6.3 Superseding All Previous Support Related Contracts /
                    Agreements:
                </h2>This support contract for iCHARMS supersedes all earlier
                support contracts and therefore all earlier support contracts
                stand void since the start of this support contract date which
                is 01st November 2023.<h2><br>
                    7. Our Promise | We Understand Your Needs Most:
                </h2>Given how crucial IT is to the running of your business, we
                understand that any malfunctions can rapidly result in
                disruption of operations; leading to losses in revenue, time,
                efforts and more. That&rsquo;s where we come in and we have a
                simple promise as follows: Response to ANY query before the end
                of the working day Between the hours of 10.00am and 18.00pm
                &ndash; IST<h3>7.1 How it works:</h3>If an IT query is not
                solved at first contact, we will seek a solution and give you an
                update before the end of the working day / until a resolution is
                reached on the same day. This applies for both packages on
                offer.<h5>
                    &lsquo;&rsquo;With iCHARMS &ndash; PRO IT SUPPORT,
                    you&rsquo;ll never be alone&rsquo;&rsquo;.
                </h5>&nbsp;<h2>8.iCHARMS &ndash; PRO IT | Next Steps:</h2>&nbsp;
                Are you ready to begin your iCHARMS &ndash; PRO IT revolution?<h3
                >
                    8.1 SIGN UP TODAY
                </h3>We have made engaging our services a simple 2 step process
                with &lsquo;&rsquo;No Extra Paperwork, No Fuss&rsquo;&rsquo;
                Approach: Add your Signature / Digital Signature below and click
                &lsquo;Sign Proposal&rsquo; or Sign It Your iCHARMS &ndash; PRO
                IT Support Services Agreement is included in this document. We
                very much look forward to working with your business.<h3>
                    &nbsp;8.2 Signing up Form | Select the Options Package with
                    Alphabet &lsquo;S&rsquo;:
                </h3>
                <h5>Basic Level Support:</h5>&nbsp; Advanced Level Support:<h3>
                    8.3 We&rsquo;re ready to start, are you?
                </h3>&nbsp; Note: We would like to mention here that this
                contract is being signed today on the above noted date with the
                start of this contract, effective date being the 01st November
                2023 as things have got delayed in signing it for not being able
                to meetup and discuss things in detail.<h2>
                    9. iCHARMS &ndash; PRO IT Support Agreement | Terms &amp;
                    Conditions:
                </h2>
                <h5>
                    This Agreement (&ldquo;Agreement&rdquo;) is made as of
                    &lsquo;01st November 2023&Prime; by <strong
                        >Techno Serve Ltd</strong
                    > (Provider) located at 22 Ombersley Road, Birmingham, England,
                    B12 8XD and <strong>CARE AND RELIEF FOUNDATION</strong> located
                    at109 Woodfield Road Balsall Heath Birmingham B12 8TE.
                </h5>&nbsp;<h5>It is hereby AGREED as follows:</h5>&nbsp;<h3>
                    9.1 Scope of Work:
                </h3>Client is a contracting Provider to provide IT maintenance,
                technical support, and data quality management for &ldquo;<strong
                    >CARE AND RELIEF FOUNDATION</strong
                >&rdquo; for everything that is currently used or available to
                use by the client to date (01st November 2023). PROVIDER agrees
                to provide such services to the Client on a monthly payment
                basis. Any reported issue will be acknowledged within 24 &ndash;
                48 hours of the reported time, which we will try to resolve at
                the earliest depending upon the technical severity of the
                reported issue. Services not considered &ldquo;standard IT
                maintenance, technical support, or hosting&rdquo; are subject to
                be charged at a separate rate and are not to be considered part
                of this agreement.<h4>
                    What is included in this Agreement:
                </h4>Unlimited support of the following monthly, which includes:
                Unlimited Downtime Maintenance Bug Fix Maintenance including
                data related issues Technical Support (See Deadlines and
                Deliverables) Web hosting through a third-party provider &ndash;
                currently through Layershift.com a UK Based server provider and
                Knownhost.com an American based Server provider to allow your
                application to be accessible online. Assisting with downtime or
                performance issues by liaising with the web hosting provider.
                Media and static file hosting through our third-party providers
                to serve images, videos, and static files required. Regular
                server backups. Regular monitoring and updating to ensure
                performance across all the latest versions of installed
                software. Standard IT maintenance for monthly, which includes:
                Regular monitoring and updating to ensure performance across all
                the latest versions of installed software. If any regular
                maintenance or software update procedure requires any
                third-party services which are chargeable then the charge will
                have to be borne by the Client. All the monthly services offered
                in this agreement expire at the end of each calendar month and
                do not roll over for future use.<h4>
                    9.1.2 What is NOT included in this Agreement:
                </h4>Emergency out of hour&rsquo;s coverage unless agreed
                separately (Advanced Level Support); hardware protection against
                failure if not covered under third party guarantee.<h3>
                    9.2 &nbsp; &nbsp; &nbsp; Payment:
                </h3>&nbsp;<h3>9.2.1 Payment Schedule:</h3>Client agrees to pay
                PROVIDER a total for the package selected in exchange for the
                above services. The first payment is due upon execution of this
                Agreement. Subsequent payments will be due every month
                thereafter in advance on the first working day of each month.<h3
                >
                    9.2.2 Late Payments:
                </h3>If the Client fails to pay any amount properly due under
                the Agreement by the due date, PROVIDER may, after giving three
                days&rsquo; notice to the Client, suspend any work until payment
                is made in full. PROVIDER reserves the right to withhold
                delivery of any current work if accounts are not current or
                overdue invoices are not paid in full.<h3>
                    9.2.3 Third Party Fees:
                </h3>The Client is responsible for all third-party fees,
                including any necessary licence fees required to purchase and
                install new software. These fees will be communicated to the
                client in writing and shall not be incurred prior to written
                confirmation of acceptance of the cost.<h3>
                    9.2.4 Changes to Pricing Plan
                </h3>The pricing plan in Clause 6 shall not be increased for an
                initial period of 12 months. PROVIDER shall give the Client a
                minimum of 60 calendar days&rsquo; notice of any planned
                increase in pricing thereafter. The Client may terminate the
                contract if the increased pricing is unacceptable to the Client
                and a comprehensive handover as per Schedule 1 shall be carried
                out prior to termination.<h3>
                    9.2.5 Deadlines &amp; Deliverables:
                </h3>PROVIDER will respond via email to all maintenance requests
                from Client within 24 hours on weekdays with a confirmation that
                the request was received as well as an estimated completion
                date. Maintenance requests received after 5:00 pm IST on
                weekdays may not be completed until the next business day unless
                prior arrangements have been made. PROVIDER will make all
                reasonable efforts to adhere to all quoted deadlines for the
                deliverables in the Client&rsquo;s maintenance requests. In the
                event that PROVIDER has any issues in delivering on a quoted
                deadline, Client will be notified via email the reasoning for
                any change and an estimate of time required given.<h3>
                    9.2.6 Additional Services:
                </h3>Any revisions, additions or redesign the Client requests
                Provider to perform that is not specified in this document shall
                be considered &ldquo;additional&rdquo; and will require a
                separate agreement and payment. PROVIDER shall advise Client on
                any requested work that falls within these bounds and there
                shall be no obligation on the Client to agree to any additional
                services.<h3>9.2.7 Indemnity for Third Party Loss:</h3>PROVIDER
                agrees to indemnify the Client against all claims, judgments,
                decrees, reasonable costs and expenses, including reasonable
                attorney&rsquo;s fees, incident to any proceeding which may be
                brought against the client or its agents, distributors,
                customers or other vendors based on a claim of alleged
                copyright, trademark, or alleged misappropriation of a trade
                secret, as well as for a claim of alleged unfair competition
                resulting from similarity in design, trademark or appearance of
                Contract Products and Services provided under this Agreement.
                PROVIDER agrees that it will, upon request of the Client and at
                PROVIDER&rsquo;S own expense, defend or assist in the defence of
                any action which may be brought against the Client or its
                officers, employees, agents, distributors, customers, or other
                vendors for these claims of alleged infringement,
                misappropriation, or unfair competition. The Client agrees to
                notify PROVIDER promptly upon receipt of notice of infringement
                or information of such a suit having been filed. This
                indemnification will be in addition to all other obligations
                under this Agreement. PROVIDER agrees to indemnify the Client
                against all claims, judgments, decrees, reasonable costs and
                expenses, including reasonable attorney&rsquo;s fees, incident
                to any proceeding which may be brought against the Client or its
                agents, distributors, customers or other vendors based on a
                claim naming the PROVIDER, of alleged copyright, trademark, or
                alleged breach of data protection. PROVIDER agrees that it will,
                upon request of the Client and at Client&rsquo;s own expense,
                defend or assist in the defence of any action which may be
                brought against the Client or its officers, employees, agents,
                distributors, customers, or other vendors for these claims
                naming the Client of alleged breach of data protection. The
                Client agrees to notify PROVIDER promptly upon receipt of notice
                of breach or information of such a suit having been filed. This
                indemnification will be in addition to all other obligations
                under this Agreement.<h2>10. Indemnification:</h2>&nbsp;<h3>
                    10.1: Techno Serve Ltd Indemnification:
                </h3>Techno Serve Ltd will indemnify, defend, and hold you
                harmless from any third party claim brought against you that the
                Services, as provided by Techno Serve Ltd, infringe or
                misappropriate any UK patent, copyright, trademark, trade
                secret, or other intellectual property rights of a third party,
                provided: Use of the Services by you is in conformity with the
                Agreement and Documentation The infringement is not caused by
                modification or alteration of the Services; and/or The
                infringement was not caused by a combination or use of the
                Services with products not supplied by Techno Serve Ltd. Techno
                Serve Ltd.&rsquo;s indemnification obligations are contingent
                upon You: Promptly notifying Techno Serve Ltd in writing of the
                claim; Granting Techno Serve Ltd sole control of the selection
                of counsel, defence, and settlement of the claim; and Providing
                Techno Serve Ltd with reasonable assistance, information and
                authority required for the defence and settlement of the claim.
                This Section states Techno Serve Ltd.&rsquo;s entire liability
                (and shall be your sole and exclusive remedy) with respect to
                indemnification to you.<h3>10.2: Your Indemnification:</h3>You
                agree to indemnify, defend, and hold harmless Techno Serve Ltd
                and its Affiliates, and its directors, employees and agents from
                and against any claims arising out of or due to: Your Data; Your
                (or Your User&rsquo;s) breach of this Agreement; Your (or Your
                User&rsquo;s) use of the Services, Software or Documentation in
                violation of third-party rights, including any intellectual
                property or privacy rights, or any applicable laws; or Your (or
                Your User&rsquo;s) misuse of the Services, Software or
                Documentation.<h2>11.Miscellaneous:</h2>&nbsp;<h3>
                    11.1 Headings
                </h3>The section headings contained in this Agreement are for
                reference purposes only and shall not affect the meaning or
                interpretation of this Agreement.<h3>
                    11.2 Relationship
                </h3>PROVIDER will perform services hereunder only as an
                independent contractor. Client is to have no control over the
                methods and means of accomplishing the desired result. PROVIDER
                will not be construed to be an employee or agent of Client.<h3>
                    11.3 Assignment
                </h3>The Client or PROVIDER cannot assign or transfer this
                Agreement to anyone else without the written permission of the
                other party.<h3>11.4 Limitation of Liability</h3>In no event
                will either party be liable, whether in contract, tort, or
                otherwise, for any incidental, special, indirect, consequential
                or punitive damages, including, but not limited to, damages for
                any loss of use, loss of time, inconvenience, commercial loss,
                or lost profits, savings, or revenues, to the full extent such
                may be disclaimed by the law of England and Wales . The total
                liability of PROVIDER, whether for breach of contract, warranty,
                negligence, strict liability in tort or otherwise, is limited to
                the price of the particular services purchased, sold, or
                otherwise at issue hereunder with respect to which losses or
                damages are claimed. We are in no way responsible for the loss
                occurred (Financial or digital data loss) due to failure of
                services provided by third party software or due to changes in
                their policy at any time of usage of our product &ndash;
                software application.<h3>11.5 Construction</h3>Both parties have
                had adequate opportunity to obtain legal representation and this
                Agreement reflects arms&rsquo; length negotiations. Neither
                party will be deemed the drafter and no ambiguity in the
                Agreement will be construed against either party.<h3>
                    11.6 Contract Cancellation
                </h3>The Client may cancel or choose not to renew this Agreement
                at any time by providing written notice to PROVIDER. Within five
                business days of such cancellation, Client will be responsible
                for any potential / actual loss of data or economic loss that
                may arise and technical support provider, as PROVIDER will no
                longer provide any of the services mentioned in this agreement.
                Any fees billed to and/or paid for by the Client up until the
                point of cancellation are non- refundable and will not be
                reimbursed by PROVIDER to the Client. PROVIDER may cancel or
                choose not to renew this Agreement at any time by providing 30
                days written notice to Client. In the event of cancellation or
                nonrenewal by the provider, PROVIDER will provide a prorated
                refund for unused services to Client. The PROVIDER shall not
                terminate this Agreement until a comprehensive handover has
                taken place and both parties are happy that all necessary
                handover tasks have been carried out in accordance with Schedule
                1.<h3>11.7 Governing Law</h3>This Agreement shall be governed by
                the laws of England and Wales. Any disputes arising under this
                Agreement shall be settled by arbitration, to take place in
                England and Wales.<h3>11.8 Severability</h3>If any provision of
                this Agreement shall be unlawful, void or for any reason
                unenforceable, then that provision shall be deemed severable
                from this Agreement and shall not affect the validity and
                enforceability of any remaining provisions.<h3>
                    11.9 Entire Agreement
                </h3>This Agreement contains the entire agreement of the parties
                with respect to the subject matter of the Agreement. The
                Agreement supersedes any prior agreements, understandings, or
                negotiations, whether written or oral. This Agreement can only
                be amended through a written document formally executed by all
                parties.&nbsp;
            </li>
        </ol><br /><br />
    </div>
</Layout>
<style>
    ul > li {
        list-style-type: disc;
    }
</style>
