---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Digital Marketing Terms & Conditions - Techno Serve Software Solutions"
>
    <!-- Start Breadcrumb 
    ============================================= -->
    <div
        class="breadcrumb-area bg-gray bg-cover"
        style="background-image: url(/assets/img/shape/banner-3.jpg);"
    >
        <div class="container">
            <div class="breadcrumb-item">
                <div class="breadcrum-shape">
                    <img src="/assets/img/shape/16.png" alt="Image Not Found" />
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li>
                                    <a href="/"
                                        ><i class="fas fa-home"></i> Home</a
                                    >
                                </li>
                                <li class="active">Terms and Conditions</li>
                            </ol>
                        </nav>
                        <h1>Terms and Conditions</h1><br /><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <div class="container">
        <p>
            These are the Terms and Conditions on which Techno Serve LTD (Techno
            Serve) will carry out work for you. They will apply each time that
            you ask us to do work for you, or carry out a Service. They set out
            our Services and what you can expect from us. Please read them
            carefully. It is a condition of your use of our Services that you
            comply with these Terms and Conditions.
        </p>
        <p>&nbsp;</p>
        <p>
            These Terms and Conditions are subject to change without notice and
            may be superseded. Techno Serve may modify these Terms and
            Conditions by general notice on a page of our website, by email or
            by any other method of communication.
        </p>
        <h5>1. ENGAGEMENT</h5>
        <p>You may engage us to carry out a Service for you by:</p>
        <ul>
            <li>signing and returning a Pricing Structure to us; or</li>
            <li>providing an authorised Purchase Order; or</li>
            <li>in the case of smaller engagements by written verification.</li>
        </ul><br />
        <p>
            Unless Techno Serve notify you otherwise, Techno Serve will accept
            that engagement, subject to these Terms and Conditions. The Service
            will commence in line with the Service schedule or when Techno Serve
            accept the engagement.
        </p>
        <h5>2. PRICING STRUCTURES</h5>
        <p>
            If Techno Serve provide you with a Pricing Structure for the
            Service, then that Pricing Structure:
        </p>
        <ul>
            <li aria-level="1">
                is based on the Specifications, and is subject to change if the
                parties agree to amend the Specifications;
            </li>
            <li aria-level="1">does not include GST;</li>
            <li aria-level="1">
                and is valid for a period of 30 days from the date Techno Serve
                issue the Pricing Structure, unless otherwise agreed by Techno
                Serve.
            </li>
        </ul><br />
        <h5>3. SERVICES</h5>
        <p>
            The Services that Techno Serve provide to you, and any specific
            terms, may include some or all of the following:
        </p>
        <ul>
            <li aria-level="1">
                clause 10 &ndash; Search Engine Optimisation (SEO);
            </li>
            <li aria-level="1">
                clause 11 &ndash; Search Engine Advertising ;
            </li>
            <li aria-level="1">clause 12 &ndash; Display Advertising;</li>
            <li aria-level="1">clause 13 &ndash; Social Media Advertising;</li>
            <li aria-level="1">
                clause 14 &ndash; Social Media Management (SMM);
            </li>
            <li aria-level="1">
                clause 15 &ndash; Strategy, Creative and Analytics.
            </li>
        </ul><br />
        <p>&nbsp;</p>
        <p>
            You acknowledge that electronic services are subject to interruption
            and breakdown and all non-electronic services are subject to
            disruption, and therefore:
        </p>
        <p>&nbsp;</p>
        <ul>
            <li aria-level="1">
                the Services will not be error-free or uninterrupted; and your
                access to the Service and the operation of the Service will not
                be error-free or uninterrupted.
            </li>
            <li aria-level="1">
                Techno Serve reserves the right to continue to provide the
                Services and/or invoice you for the Services in the event of any
                disruption, other than a disruption caused by Techno
                Serve&rsquo;s negligence or willful acts or omissions.
            </li>
        </ul>
        <h5>4. HOURS OF SERVICE</h5>
        <p>
            All Services will be carried out between 8:30 am and 5:30 pm (local
            office time), Monday to Friday excluding public holidays and the
            Christmas / New Year closure periods.
        </p>
        <h5>5. CONTENT AND MATERIALS SUPPLIED BY YOU</h5>
        <p>
            You must supply to us all required materials you want us to use in
            the Service, and all other content and materials Techno Serve
            reasonably request (Client Content) in a timely manner.
        </p>
        <p>
            You must supply all Client Content in the following digital
            format/s:
        </p>
        <p>&nbsp;</p>
        <ul>
            <li aria-level="1">
                text/copy: Microsoft Word or Rich Text (clearly labelled and in
                correct order);
            </li>
            <li aria-level="1">
                tables: Microsoft Excel (clearly labelled and in correct order);
            </li>
            <li aria-level="1">
                images: high resolution where possible (JPEG, PNG files);
            </li>
            <li aria-level="1">logos: vector format (Illustrator EPS/AI);</li>
            <li aria-level="1">
                diagrams/maps: vector format (AI) or (JPEG files);
            </li>
            <li aria-level="1">
                if required, access to your current website and database via
                SSH, FTP and/or CMS/hosting control panel login;
            </li>
            <li aria-level="1">brand style guidelines (if applicable).</li>
        </ul>
        <p>&nbsp;</p>
        <p>
            Techno Serve may charge Additional Costs if the Client Content is
            not provided in the appropriate format or if material is not
            supplied when requested.
        </p>
        <p>
            You warrant that the materials or content you provide to us, or that
            are provided to us on your behalf, will not: breach any rights
            (including Intellectual Property Rights or Moral Rights) of any
            third party; or compromise the security or operation of our computer
            systems, through a virus or otherwise.
        </p>
        <h5>6. VARIATIONS AND ADDITIONAL COSTS</h5>
        <p>
            If during the course of our engagement there are changes in the
            Specifications of the Service, the changes will be treated as a
            Variation.
        </p>
        <p>&nbsp;</p>
        <p>
            Where a Variation occurs Techno Serve reserves the right to halt
            work and review the Service costings. Techno Serve will discuss the
            Variation with you and where required will issue a Variation Notice
            which is to include the modifications to the Specifications and any
            associated costs. Techno Serve will not proceed with the Services
            until Techno Serve receive your written approval to proceed.
        </p>
        <p>&nbsp;</p>
        <p>Examples of Variations include:</p>
        <ul>
            <li aria-level="1">
                introduction of additional requirements not discussed during the
                onboarding process i.e. branding deliverables, introduction of
                video imagery, ad text, ad design and Digital Marketing Campaign
                focus;
            </li>
            <li aria-level="1">
                costs for commercial fonts, photography, audio and video;
            </li>
            <li aria-level="1">additional Service management time;</li>
            <li aria-level="1">
                unplanned delays in obtaining approval, Client Content or
                feedback resulting in Techno Serve
            </li>
            <li aria-level="1">
                having to reschedule services, staff or facilitate continuance;
            </li>
            <li aria-level="1">
                overtime required to meet deadlines due to delays by the Client
                providing approval, Client Content or feedback;
            </li>
            <li aria-level="1">development work.</li>
        </ul>
        <p>&nbsp;</p>
        <p>
            It is our process to include Service management time in all quotes,
            but from time to time Techno Serve are required to not only manage
            the Techno Serve team but also manage your team. This is generally
            not known at the time of quoting and may be treated as a Variation.
        </p>
        <p>&nbsp;</p>
        <p>
            If during the course of our engagement there are small changes in
            the Service, Techno Serve will contact you and provide an estimate
            of the Additional Costs for these small changes.
        </p>
        <p>&nbsp;</p>
        <p>
            Where possible, Techno Serve will attempt to obtain approval from
            you prior to undertaking the additional work. However, in some cases
            due to deadline and availability constraints, this may not be
            possible and Techno Serve may proceed with the work without
            obtaining approval.
        </p>
        <p>&nbsp;</p>
        <p>
            Additional Costs will be invoiced separately to the Client on an ad
            hoc basis, charged at current Professional Hourly Rates.
        </p>
        <p>&nbsp;</p>
        <p>Examples of Additional Costs include:</p>
        <ul>
            <li aria-level="1">content not in the appropriate format;</li>
            <li aria-level="1">
                extra workshops or workshops requiring additional hours;
            </li>
            <li aria-level="1">
                requested additional design concepts / alternations;
            </li>
            <li aria-level="1">
                requested changes to the design after final approval has been
                requested or provided;
            </li>
            <li aria-level="1">
                uploading and styling/layout of additional Client Content;
            </li>
            <li aria-level="1">additional meetings and travel time.</li>
        </ul>
        <p>&nbsp;</p>
        <p>
            You agree that once you have approved the list of key phrases for
            optimisation and use in the provision of the Services by Techno
            Serve, no changes can be made to that list during the duration of
            the Services.
        </p>
        <h5>7. PURCHASE OF STOCK IMAGES, FONTS, PHOTOGRAPHY, AUDIO OR VIDEO</h5>
        <p>
            Unless specified in the Pricing Structure, the Fees do not include
            any searches or purchase of stock images, commercial fonts,
            photography, audio or video.
        </p>
        <p>&nbsp;</p>
        <p>
            You can provide stock images, commercial fonts, audio or video, or
            Techno Serve can purchase them on your behalf. When any stock images
            or commercial fonts are purchased on your behalf, Techno Serve will
            be the license holder and the image or font can only be used under
            the terms of the license/s.
        </p>
        <p>
            You indemnify, and agree to keep Techno Serve, its directors,
            officers and employees indemnified, against all Loss arising out of
            the breach of these licenses.
        </p>
        <p>&nbsp;</p>
        <p>
            Standard stock images will be charged according to our current stock
            image rates.
        </p>
        <p>
            Costing for any font, photography, audio or video required will be
            provided for approval separately via a Variation Notice.
        </p>
        <p>&nbsp;</p>
        <p>
            Ownership of the finished photography, audio or video will be
            transferred to you upon full payment of all issued invoices.
        </p>
        <p>&nbsp;</p>
        <p>Techno Serve retains ownership of all working files.</p>
        <h5>8. YOUR APPROVAL &amp; IMPLEMENTATION</h5>
        <p>
            Your approval and implementation may be required for a number of
            items (Approval &amp; Implementation Item) presented to you:
        </p>
        <ul>
            <li aria-level="1">Service brief;</li>
            <li aria-level="1">keyword recommendations;</li>
            <li aria-level="1">local SEO report;</li>
            <li aria-level="1">on page SEO report;</li>
            <li aria-level="1">ad text;</li>
            <li aria-level="1">ad targeting;</li>
            <li aria-level="1">ad creative;</li>
            <li aria-level="1">
                design concepts (and your choice of one of them);
            </li>
            <li aria-level="1">
                each updated version of the chosen design concept;
            </li>
            <li aria-level="1">implementation of conversion tracking code</li>
            <li aria-level="1">landing page or website development</li>
            <li aria-level="1">completed design;</li>
            <li aria-level="1">variation Notices; and</li>
            <li aria-level="1">
                any other item for which Techno Serve request your approval.
            </li>
        </ul>
        <p>&nbsp;</p>
        <p>
            When Techno Serve provide you with any Approval Item, you must
            notify us in writing whether you do or do not accept the completed
            Approval Item.
        </p>
        <p>&nbsp;</p>
        <p>
            You will be deemed to have accepted the Approval Item if Techno
            Serve do not receive a response from you, within 5 business days.
        </p>
        <p>&nbsp;</p>
        <p>
            Your acceptance of the completed Approval Item in accordance with
            Section 8 means that the Approval Item is complete, and no further
            amendments are necessary. However, Techno Serve will not proceed to
            the next Stage of the Service until Techno Serve receive your
            approval to proceed.
        </p>
        <p>&nbsp;</p>
        <p>
            There may be Additional Costs in having to reschedule services,
            staff or facilitate continuance due to unplanned delays in obtaining
            approval. If unable to perform continuance, the Client may have to
            pay a shutdown and subsequent restart fee commensurate to the labour
            and resource costs incurred.
        </p>
        <h5>9. SCHEDULING, PRODUCTION AND SERVICE MANAGEMENT</h5>
        <p>
            If Techno Serve consider it to be necessary, Techno Serve will
            develop a production schedule for the Services. Techno Serve will
            use reasonable commercial endeavours to carry out the Services in
            accordance with that schedule.
        </p>
        <p>&nbsp;</p>
        <p>
            If you delay in providing the approval, implementation, Client
            Content or feedback Techno Serve require, then this may result in:
        </p>
        <ul>
            <li aria-level="1">
                a change in the delivery deadline set out in the production
                schedule; or
            </li>
            <li aria-level="1">
                if the delivery deadline cannot be changed, a Variation Notice
                will be issued, including necessary overtime costs.
            </li>
        </ul>
        <h5>10. SEARCH ENGINE OPTIMISATION (SEO)</h5>
        <p>Our Search Engine Optimisation Services may include:</p>
        <ul>
            <li aria-level="1">
                Keyword research &amp; Keyword Recommendations
            </li>
            <li aria-level="1">Local SEO Report</li>
            <li aria-level="1">On Page SEO Report</li>
            <li aria-level="1">Copywriting &amp; Content Generation</li>
            <li aria-level="1">Creation of Google Analytics account</li>
            <li aria-level="1">Implementation of Conversion Tracking Code</li>
            <li aria-level="1">Creation of Google Search Console account</li>
            <li aria-level="1">Link Building</li>
            <li aria-level="1">Local Citations</li>
            <li aria-level="1">Monthly Progress Report</li>
        </ul>
        <p>Our Search Engine Optimisation Services exclude:</p>
        <ul>
            <li aria-level="1">Implementation of On Page SEO Report</li>
            <li aria-level="1">
                Implementation of advanced conversion tracking code where
                website development is needed
            </li>
            <li aria-level="1">
                Broken Links cleanup &amp; ongoing maintenance
            </li>
            <li aria-level="1">Google Search Console management</li>
            <li aria-level="1">Landing Page or Website Development</li>
            <li aria-level="1">Website Maintenance &amp; Security Updates</li>
            <li aria-level="1">New Website Migration</li>
            <li aria-level="1">Change of Strategy Mid-Campaign</li>
        </ul>
        <h5>11. SEARCH ENGINE ADVERTISING</h5>
        <p>Our Search Engine Advertising Services may include:</p>
        <ul>
            <li aria-level="1">
                Keyword research &amp; Keyword Recommendations
            </li>
            <li aria-level="1">Creation of Google Ads account</li>
            <li aria-level="1">Creation of Google Analytics account</li>
            <li aria-level="1">
                Setup of conversion tracking in Google Analytics
            </li>
            <li aria-level="1">Implementation of conversion tracking code</li>
            <li aria-level="1">Creation of text ad copy and ad extensions</li>
            <li aria-level="1">Management of keyword bids and ad targeting</li>
            <li aria-level="1">
                On-going optimisation and Digital Marketing Campaign analysis
            </li>
            <li aria-level="1">Monthly Progress Report</li>
        </ul>
        <p>Our Search Engine Advertising Services exclude:</p>
        <ul>
            <li aria-level="1">
                Implementation of advanced conversion tracking code where
                website development is needed
            </li>
            <li aria-level="1">Creation of a Privacy Policy</li>
            <li aria-level="1">Landing Page or Website Development</li>
            <li aria-level="1">Change of Strategy Mid-Campaign</li>
        </ul>
        <p>&nbsp;</p>
        <p>
            Unless otherwise agreed, Techno Serve will utilise their
            professional account/s to engage the appropriate third party
            provider e.g. Facebook, Google.
        </p>
        <p>&nbsp;</p>
        <p>
            The client acknowledges that Techno Serve source suppliers and
            placements, but the terms and conditions of those placements are
            governed by the suppliers. You will provide the access to your
            social media accounts or permission for us to set up accounts on
            your behalf.
        </p>
        <h5>12. DISPLAY ADVERTISING</h5>
        <p>Our Display Advertising Services may include:</p>
        <ul>
            <li aria-level="1">Creation of display banners</li>
            <li aria-level="1">Creation of Google Ads account</li>
            <li aria-level="1">
                Setup of conversion tracking and remarketing tags in Google
                Analytics
            </li>
            <li aria-level="1">Implementation of Conversion Tracking Code</li>
            <li aria-level="1">
                Set-up of audience and/or display placement targeting
            </li>
            <li aria-level="1">
                On-going optimisation and Digital Marketing Campaign analysis
            </li>
            <li aria-level="1">Monthly Progress Report</li>
        </ul>
        <p>&nbsp;</p>
        <p>Our Display Advertising Services exclude:</p>
        <ul>
            <li aria-level="1">
                Implementation of advanced conversion tracking code where
                website development is needed
            </li>
            <li aria-level="1">Creation of a Privacy Policy</li>
            <li aria-level="1">Landing Page or Website Development</li>
            <li aria-level="1">Change of Strategy Mid-Campaign</li>
        </ul>
        <p>&nbsp;</p>
        <p>
            Unless otherwise agreed, Techno Serve will utilise their
            professional account/s to engage the appropriate third party
            provider e.g. Facebook, Google.
        </p>
        <p>&nbsp;</p>
        <p>
            The client acknowledges that Techno Serve source suppliers and
            placements, but the terms and conditions of those placements are
            governed by the suppliers.
        </p>
        <p>&nbsp;</p>
        <p>
            You will provide access to your social media accounts or permission
            for us to set up accounts on your behalf.
        </p>
        <h5>13. SOCIAL MEDIA ADVERTISING</h5>
        <p>Our Social Media Advertising Services may include:</p>
        <ul>
            <li aria-level="1">
                Creation of Facebook ads including image design and ad copy
            </li>
            <li aria-level="1">
                Creation of a Facebook ad account within Techno Serve&rsquo;s
                business manager account
            </li>
            <li aria-level="1">
                Setup of conversion tracking in Google Analytics
            </li>
            <li aria-level="1">
                Implementation of conversion tracking code &amp; Facebook pixel
            </li>
            <li aria-level="1">
                Set-up of specific remarketing lists using data from your
                Facebook pixel
            </li>
            <li aria-level="1">
                Set-up of interest and demographic audiences for Digital
                Marketing Campaign targeting
            </li>
            <li aria-level="1">
                On-going optimisation and Digital Marketing Campaign analysis
            </li>
            <li aria-level="1">Monthly Progress Report</li>
        </ul>
        <p>&nbsp;</p>
        <p>Our Social Media Advertising Services exclude:</p>
        <ul>
            <li aria-level="1">
                Implementation of advanced conversion tracking code where
                website development is needed
            </li>
            <li aria-level="1">Creation of a Privacy Policy</li>
            <li aria-level="1">Landing Page or Website Development</li>
            <li aria-level="1">
                Setup &amp; management of your Facebook community or Facebook
                page
            </li>
            <li aria-level="1">
                Responding to your comments and downloading leads on your
                Facebook advertisements
            </li>
            <li aria-level="1">
                Integration of Facebook with 3rd party platforms and any
                resulting data loss
            </li>
            <li aria-level="1">Change of Strategy Mid-Campaign</li>
        </ul>
        <p>&nbsp;</p>
        <p>
            Unless otherwise agreed, Techno Serve will utilise their
            professional account/s to engage the appropriate third party
            provider e.g. Facebook, Google.
        </p>
        <p>&nbsp;</p>
        <p>
            The client acknowledges that Techno Serve source suppliers and
            placements, but the terms and conditions of those placements are
            governed by the suppliers.
        </p>
        <p>&nbsp;</p>
        <p>
            You will provide access to your social media accounts or permission
            for us to set up accounts on your behalf.
        </p>
        <h5>14. SOCIAL MEDIA MANAGEMENT (SMM)</h5>
        <p>Our Social Media Management services may include:</p>
        <ul>
            <li aria-level="1">
                social media review, analysis and strategy development;
            </li>
            <li aria-level="1">
                social media campaigns, blogs, content creation, client
                engagement and/or profile management for Facebook, Twitter,
                LinkedIn or other social media platforms;
            </li>
            <li aria-level="1">social media analytics;</li>
            <li aria-level="1">social media policy.</li>
        </ul>
        <p>&nbsp;</p>
        <p>
            You will provide access to your social media accounts or permission
            for us to set up accounts on your behalf.
        </p>
        <h5>15. STRATEGY, CREATIVE AND ANALYTICS</h5>
        <p>Our Strategy, Creative and Analytics services may include:</p>
        <ul>
            <li aria-level="1">digital marketing audits;</li>
            <li aria-level="1">digital marketing strategy development;</li>
            <li aria-level="1">digital marketing strategy implementation;</li>
            <li aria-level="1">
                videos, images, memes, infographics, whitepapers, reports and
                surveys;
            </li>
            <li aria-level="1">Google analytics;</li>
            <li aria-level="1">reputation management;</li>
            <li aria-level="1">call tracking;</li>
        </ul>
        <h5>16. ARCHIVING / RETRIEVAL</h5>
        <p>
            Techno Serve will endeavour to store or archive all electronic files
            used in the production of your Service. However, Techno Serve
            provide no guarantee that any stored or archived files can be
            retrieved in the future.
        </p>
        <p>&nbsp;</p>
        <p>
            Once your Service is launched, archiving of the files and database
            and copies of these files becomes the responsibility of the Client.
            Techno Serve can at the request of the Client provide this service
            for an Additional Cost.
        </p>
        <h5>17. DISBURSEMENTS</h5>
        <p>
            Disbursement charges are not included in the Fees. If Techno Serve
            incur any disbursements or expenses during the course of the
            Service, Techno Serve will charge these to you as Additional Costs.
        </p>
        <p>These may include but are not limited to:</p>
        <ul>
            <li aria-level="1">
                costs of plugins and themes purchased as part of the Service;
            </li>
            <li aria-level="1">
                consumable material utilised as part of a Service or Digital
                Marketing Campaign;
            </li>
            <li aria-level="1">
                one-off costs for social media monitoring at events.
            </li>
        </ul>
        <h5>18. WARRANTY DISCLAIMER</h5>
        <p>
            Nothing in this Agreement excludes, restricts or modifies any right
            or remedy, or any guarantee, warranty or other term or condition
            implied or imposed by legislation which cannot be lawfully excluded
            or limited. Such legislation includes the United Kingdom Consumer
            Law which contains guarantees that protect the purchasers of goods
            and services in certain circumstances, each a non-excludable
            provision.
        </p>
        <p>&nbsp;</p>
        <p>
            Subject to Techno Serve&rsquo;s obligations under the non-excludable
            provisions, and to the fullest extent permissible by law, Techno
            Serve expressly disclaims all warranties and representations of any
            kind with respect to the Services whether express, implied,
            statutory, or arising out of the course of performance, course of
            dealing or usage of trade including any warranties or
            merchantability, fitness for a particular purpose, satisfactory
            quality, accuracy, title or non-infringement.
        </p>
        <h5>19. LIMITATION OF LIABILITY AND WARRANTY</h5>
        <p>
            To the fullest extent permissible by law, Techno Serve is not liable
            (whether in contract or tort) for:
        </p>
        <ul>
            <li aria-level="1">
                faults or defects in any services or goods provided by third
                parties in connection with this agreement; or
            </li>
            <li aria-level="1">
                any indirect, special or consequential loss (including loss or
                corruption of data, loss of profits, revenue, goodwill,
                anticipated savings and business interruption) however arising,
                whether or not Techno Serve knew of the possibility of such loss
                and whether or not such loss was foreseeable.
            </li>
        </ul>
        <p>&nbsp;</p>
        <p>
            To the fullest extent permissible by law, in no event will Techno
            Serve&rsquo;s liability in contract, tort (including negligence and
            breach of statutory duty) or otherwise arising out of, or in
            connection with, this agreement exceed the amounts actually paid by
            the Client to Techno Serve for the Service;
        </p>
        <p>
            Techno Serve makes no warranties regarding the likelihood of success
            of marketing or promotional activity undertaken pursuant to the
            agreement.
        </p>
        <p>&nbsp;</p>
        <p>
            Without limiting the above, Techno Serve will use its reasonable
            endeavours to optimise the performance of your Digital Marketing
            Campaign, however, Techno Serve gives no warranties and makes no
            guarantees in respect of the performance of your Digital Marketing
            Campaign. You acknowledge that:
        </p>
        <ul>
            <li aria-level="1">
                search engine results and ad position will vary for each of the
                search engines and social media platforms;
            </li>
            <li aria-level="1">
                the algorithms of each search engine and social media platform
                may change unexpectedly from time to time;
            </li>
            <li aria-level="1">
                and this is out of the control of Techno Serve
            </li>
        </ul>
        <p>
            To the fullest extent permitted by law, the liability of Techno
            Serve for a breach of a non-excludable condition is limited to: in
            the case of the provision of services:
        </p>
        <ul>
            <li aria-level="1">the supplying of the services again; or</li>
            <li aria-level="1">
                payment of the cost of having the services supplied again.
            </li>
        </ul>
        <p>in relation to goods:</p>
        <ul>
            <li aria-level="1">
                the replacement of the goods or the supply of equivalent goods;
            </li>
            <li aria-level="1">
                the payment of the cost of replacing the goods or acquiring
                equivalent goods; or
            </li>
            <li aria-level="1">
                the repair of the goods or the payment of the cost of having the
                goods repaired.
            </li>
            <li aria-level="1">
                To the full extent permitted by law, Techno Serve excludes all
                liability for the infringement of the Intellectual Property
                rights of any third party arising from any of the material or
                content published during the performance of the Services;
            </li>
            <li aria-level="1">
                liability for misrepresentation or negligence arising from
                detrimental reliance on any of the material or content published
                in accordance with the performance of the Services. It is your
                responsibility to thoroughly check and gain independent expert
                advice on the suitability or correctness of the material to be
                published as part of the performance of the Services;
            </li>
            <li aria-level="1">
                liability in respect of loss of data, 3rd party integration
                failure, breach of our security, interruption of business or any
                consequential or incidental damages; all representations,
                warranties or terms (whether express or implied) other than
                those expressly set out in the agreement.
            </li>
        </ul>
        <p>&nbsp;</p>
        <p>
            Techno Serve&rsquo;s total aggregate liability for all claims
            relating to the agreement is limited to the price for the Services
            payable under this agreement.
        </p>
        <p>
            Either party&rsquo;s liability for any claim relating to the
            agreement will be reduced to the extent to which the other party
            contributed to the damage arising from the claim.
        </p>
        <h5>20. INDEMNITY</h5>
        <p>
            You indemnify, defend and hold harmless Techno Serve in respect of
            all actions, claims, proceedings, demands, liabilities, losses,
            damages, expenses and costs (including legal fees on a full
            indemnity basis), in connection with any of the following:
        </p>
        <ul>
            <li aria-level="1">any breach of this agreement;</li>
            <li aria-level="1">your negligent acts or omissions; or</li>
            <li aria-level="1">
                your use of the Services, including any third party claims made
                in connection with or arising out of the Client&rsquo;s use of
                the Service, other than use in accordance with this agreement.
            </li>
            <li aria-level="1">breach of third party Intellectual Property.</li>
        </ul>
        <p>
            You indemnify, and agree to keep Techno Serve, its directors,
            officers and employees indemnified, against all Loss arising from
            actions taken performing Services.
        </p>
        <h5>21. INTELLECTUAL PROPERTY AND SUPPLY OF RAW / EDITABLE FILES</h5>
        <p>
            All Intellectual Property Rights in Service Intellectual Property
            vest in, or will upon their creation vest in Techno Serve.
        </p>
        <p>
            Techno Serve grant you a non-transferable, non-exclusive license to:
        </p>
        <ul>
            <li aria-level="1">
                publish one copy of the Service and supporting Service
                Intellectual Property unless otherwise stated by Techno Serve;
                and
            </li>
            <li aria-level="1">
                use and reproduce the other Service Intellectual Property;
            </li>
            <li aria-level="1">
                You must not, without our prior written consent:
            </li>
            <li aria-level="1">
                adapt, create derivative works from or merge the template or
                other Service Intellectual Property;
            </li>
            <li aria-level="1">
                use the Service Intellectual Property for any purpose other than
                the specific purpose for which Techno Serve have provided it;
            </li>
            <li aria-level="1">
                reverse engineer, disassemble or decompile the Service
                Intellectual Property;
            </li>
            <li aria-level="1">
                distribute, lend, resell, transfer, assign or sublicence the
                Service or other Service Intellectual Property, or allow any
                other person to use it except in the course of visiting the
                Service; and
            </li>
            <li aria-level="1">
                remove or attempt to remove any proprietary or copyright notices
                or any labels on the Service or other Service Intellectual
                Property;
            </li>
            <li aria-level="1">
                Any Landing pages that are created by Techno Serve, for paid
                marketing campaigns, will be hosted by Techno Serve only for the
                duration of the paid marketing campaign.
            </li>
        </ul>
        <p>&nbsp;</p>
        <p>
            The supply of raw / editable files is at the discretion of Techno
            Serve. Additional Costs will apply, and may be based upon a
            percentage of the original Pricing Structure, or a retrieval and
            release fee.
        </p>
        <p>
            Stock images and commercial fonts remain the property of Techno
            Serve, under license or its licensors at all times and are governed
            under licensing restrictions and rules and are not transferrable.
        </p>
        <p>
            All ad text, ad targeting, ad creative and all ad accounts remain
            Techno Serve&rsquo;s;
        </p>
        <p>&nbsp;</p>
        <p>
            Techno Serve do not warrant that your use of the designs, materials
            or content produced by us for you in the course of the Service will
            not infringe any third party&rsquo;s Intellectual Property Rights or
            any person&rsquo;s Moral Rights, but Techno Serve will advise you if
            Techno Serve become aware of any infringement.
        </p>
        <p>
            You agree to carry the Techno Serve logo or Techno Serve text
            hyperlink in or under the website footer.
        </p>
        <p>
            You agree to allow Techno Serve to use the Services provided for
            promotional and portfolio purposes.
        </p>
        <p>&nbsp;</p>
        <p>
            As part of the Services, Techno Serve may place your company logo
            and case study on its corporate website or promotional collateral
            for promotional purposes and you irrevocably authorise Techno Serve
            to do so.
        </p>
        <p>
            You agree to provide feedback or a testimony upon request after the
            release/closure of the Service.
        </p>
        <h5>22. CONFIDENTIALITY</h5>
        <p>
            Each party agrees to keep confidential, and not to use or disclose
            except as permitted by these terms and conditions, any Confidential
            Information of the other party. The parties agree not to disclose
            these terms and conditions (including any schedules), or any details
            of a Purchase Order or Pricing Structure. This obligation of
            confidence extends to Confidential Information obtained by a party
            before entering into this agreement. Each Party shall refrain from
            making negative comments about the other Party, whether online or in
            person.
        </p>
        <p>&nbsp;</p>
        <p>
            The obligation of confidence as set out above does not apply to
            Confidential Information to the extent that is required to be
            disclosed by law or the rules of any stock exchange on which the
            recipient&rsquo;s securities:
        </p>
        <ul>
            <li aria-level="1">
                are listed, provided that the recipient discloses the minimum
                amount of Confidential Information required to satisfy the Law
                or rules.
            </li>
            <li aria-level="1">
                The Party required to disclose the other Party&rsquo;s
                Confidential Information as set out above must:
            </li>
            <li aria-level="1">
                provide a reasonable amount of notice to the other Party of the
                proposed disclosure;
            </li>
            <li aria-level="1">
                consult with the other Party as to the form of the disclosure;
                and
            </li>
            <li aria-level="1">
                take all reasonable steps to maintain such Confidential
                Information in confidence.
            </li>
        </ul>
        <p>&nbsp;</p>
        <p>
            Each party must take all steps and do all such things as may be
            necessary, prudent or desirable in order to safeguard the
            confidentiality of the Confidential Information of the other party.
        </p>
        <h5>23. CALCULATION OF FEES IF NOT SPECIFIED</h5>
        <p>
            If the Fees are not specified (in a Purchase Order, Pricing
            Structure or otherwise) at the commencement of the Service, then
            Techno Serve will charge you at the Professional Hourly Rates for
            all work that Techno Serve carry out for you in the course of the
            Service.
        </p>
        <p>&nbsp;</p>
        <p>The Professional Hourly Rates may change from time to time.</p>
        <p>
            Techno Serve will perform the Services as specified in the Pricing
            Structure or as agreed in writing with the client, utilising the
            specified providers and/or platforms, for the specified term.
        </p>
        <p>&nbsp;</p>
        <p>
            Techno Serve reserve the right to reallocate approved pay per click
            budget between different approved marketing platforms (Google,
            Facebook/ Instagram or LinkedIn or strategies (demographic targeting
            / remarketing) based on the effectiveness of the Digital Marketing
            Campaign in order to maximise results.
        </p>
        <p>
            Refunds will not be issued for paused Digital Marketing Campaigns or
            overpayment, a credit note may be issued at Techno Serve&rsquo;s
            discretion.
        </p>
        <p>&nbsp;</p>
        <p>
            Travel time is not included in our quotations as Techno Serve office
            is our preferred location as it is appropriately set up for meetings
            and presentations. If you would prefer meetings at your office or
            any other location additional fees may apply.
        </p>
        <p>&nbsp;</p>
        <p>
            Techno Serve reserves the right to charge Additional Costs caused by
            the Clients instructions, lack of instructions, interruptions,
            mistakes, work for which Techno Serve is not responsible and changes
            to the requirements, expectations or hardware and software
            environment, and extra work required caused by faults or defects in
            any service provided by a third party.
        </p>
        <h5>24. PAYMENT</h5>
        <p>
            Payment for Digital Marketing Campaigns must be made by credit card
            (Visa, Mastercard, Amex) or automatic direct debit from your
            nominated bank account.
        </p>
        <p>&nbsp;</p>
        <p>
            Our payment terms are 100% monthly in advance, subsequent payment
            are due by the 20th of the preceding month. Digital Marketing
            Campaigns run for a discrete calendar month, Campaigns that start
            mid-month may have their monthly budget accelerated or stretched to
            be used by the end of that discrete calendar month in accordance
            with the Clients preference.
        </p>
        <p>&nbsp;</p>
        <p>
            Billing for Digital Marketing Campaigns may not be paused during the
            initial Term.
        </p>
        <p>
            The Term will automatically renew for subsequent periods of the same
            duration, unless either party gives the other party written notice
            terminating the agreement 30 days prior to the expiration of the
            Term.
        </p>
        <p>&nbsp;</p>
        <p>
            The agreed monthly Online Advertising fees will be invoiced to the
            client prior to the end of the month. All Online Advertising fees
            charged by Techno Serve will be allocated as follows:
        </p>
        <p>In relation to our Services, Techno Serve may issue invoices for:</p>
        <ul>
            <li aria-level="1">
                payment as indicated in our Pricing Structure or estimate;
            </li>
            <li aria-level="1">
                for Additional Costs on an ad hoc basis as agreed.
            </li>
        </ul>
        <p>
            Techno Serve reserves the right to suspend all services provided to
            the client until any payment default is rectified under this
            Agreement.
        </p>
        <h5>25. GST</h5>
        <p>
            Unless Techno Serve expressly state otherwise, the Fees and
            Additional Costs do not include GST.
        </p>
        <p>
            If at any time Techno Serve decide that GST is payable on supplies
            made by us, or if the United Kingdom Taxation Office assesses GST on
            any such supplies, then the necessary amount will be added to, and
            form part of, the Fees or Additional Charges (as the case may be) at
            the GST rate prevailing at the relevant time.
        </p>
        <p>&nbsp;</p>
        <p>
            Techno Serve reserve the right to recover from you at any time such
            an amount on account of GST on supplies made by us to you under this
            agreement.
        </p>
        <h5>26. DURATION OF AGREEMENT AND ITS TERMINATION</h5>
        <p>
            Upon execution by both parties this agreement will take effect:
            immediately and remain in effect until the purpose of the Service
            has been achieved.
        </p>
        <p>&nbsp;</p>
        <p>
            The term will automatically renew for subsequent periods of the same
            duration, unless either party gives the other party written notice
            terminating the agreement 30 days prior to the expiration of the
            term or both parties agree in writing to vary the Services provided.
        </p>
        <p>&nbsp;</p>
        <p>
            A party may terminate this agreement by notice in writing to the
            other party if:
        </p>
        <ul>
            <li aria-level="1">
                the other party commits a material breach of this agreement that
                is capable of remedy (including failure to pay any amount due
                under this agreement) and fails to remedy that breach within
                [14] days after receiving notice from the other Party to do so;
            </li>
            <li aria-level="1">
                the other party commits a material breach of this agreement that
                is not capable of remedy; or
            </li>
            <li aria-level="1">
                the other Party becomes Insolvent.<ul>
                    <li aria-level="2">&nbsp;</li>
                </ul>
            </li>
        </ul>
        <p>Techno Serve may terminate this agreement if:</p>
        <ul>
            <li aria-level="1">
                you do not provide any information or materials requested within
                a reasonable time after being asked to do so; or
            </li>
            <li aria-level="1">
                Techno Serve consider that mutual confidence and trust no longer
                exist.<ul>
                    <li aria-level="2">&nbsp;</li>
                </ul>
            </li>
        </ul>
        <p>Upon termination of this agreement:</p>
        <ul>
            <li aria-level="1">
                our obligation to carry out the Service ceases;
            </li>
            <li aria-level="1">
                each party&rsquo;s rights and obligations accrued prior to
                termination are not affected;
            </li>
            <li aria-level="1">the licence granted ceases;</li>
            <li aria-level="1">&nbsp;</li>
            <li aria-level="1">
                any unpaid invoice owed to Techno Serve must be paid, including
                for any minimum term (failure to do so may result in Techno
                Serve registering this default with a credit reporting agency);
            </li>
            <li aria-level="1">
                each party must immediately return to the other party (or
                destroy or delete as the other party directs) all Confidential
                Information of the other party in its possession or control,
                except to the extent that the party needs to keep such
                information to comply with its record-keeping obligations; and<ul
                >
                    <li aria-level="3">
                        except as provided above and in sections 18, 19, 20, 21,
                        22 and 28 will continue.
                    </li>
                </ul>
            </li>
        </ul>
        <h5>27. DEBT COLLECTION</h5>
        <p>
            Techno Serve reserves the right to refer the collection of any
            outstanding accounts to a debt collection agency without notice to
            you.
        </p>
        <p>&nbsp;</p>
        <p>
            Techno Serve reserves the right to record a credit default with a
            credit reporting agency.
        </p>
        <p>
            You agree to be liable for any recovery costs and expenses we incur
            as a result of the referral of the debt to a debt collection agency
            and furthermore you agree that section 27 (1) of the Debt Collectors
            (Field Agents and Collection Agents) Act 2014 (Qld) does not apply
            to our agreement.
        </p>
        <p>&nbsp;</p>
        <p>
            In the event that the collection of the debt is referred to our
            lawyers, you accept liability for and indemnify us for all of our
            legal costs on a solicitor-client basis.
        </p>
        <p>&nbsp;</p>
        <p>
            Interest on overdue invoices shall accrue daily from the date when
            payment becomes due until the date of payment at the rate of 2% per
            calendar month.
        </p>
        <h5>28. DISPUTE RESOLUTION</h5>
        <p>
            If a dispute arises out of or relates to this Agreement, a Party may
            not commence any court or arbitration proceedings relating to the
            dispute unless the Party has complied with this clause, except where
            the Party seeks urgent interlocutory relief. Where a Party fails to
            comply with this clause any other Party in dispute with the Party so
            failing to comply need not comply with this clause before referring
            the dispute to arbitration or commencing Court proceedings relating
            to that dispute.
        </p>
        <p>&nbsp;</p>
        <p>
            A Party claiming that a dispute to which this clause applies has
            arisen under this Agreement or in relation to this Agreement shall
            give written notice to each of the other Parties designating as its
            representative in negotiations relating to the dispute a person with
            authority to settle the dispute on its behalf. Each other Party
            given written notice shall promptly give notice in writing to each
            other Party designating as its representative in negotiations
            relating to the dispute a person with similar authority.
        </p>
        <p>&nbsp;</p>
        <p>
            Bambrick may pause work to conduct whatever investigations deemed
            appropriate and, within 90 days of the given written notice, seek to
            resolve the dispute.
        </p>
        <p>&nbsp;</p>
        <p>
            If the dispute is not resolved within the following 90 days (or
            within such further period as the representatives may agree is
            appropriate), the Parties shall within a further 90 days (or within
            such further period as the representatives may agree is appropriate)
            seek to agree on:
        </p>
        <ul>
            <li aria-level="1">
                a process for resolving the whole or part of the dispute through
                means other than litigation or arbitration, such as further
                negotiations, mediation, conciliation, independent expert
                determination or mini-trial;
            </li>
            <li aria-level="1">
                the procedure and timetable for any exchange of documents and
                other information relating to the dispute;
            </li>
            <li aria-level="1">
                procedural rules and a timetable for the conduct of the selected
                mode of proceeding;
            </li>
            <li aria-level="1">
                a procedure for selection and compensation of any neutral person
                who may be employed by the Parties to assist in relation to the
                dispute; and
            </li>
            <li aria-level="1">
                whether the Parties should seek the assistance of a dispute
                resolution organisation.
            </li>
            <li aria-level="1">
                The Parties acknowledge that the purpose of any exchange of
                information or documents or the making of any offer of
                settlement pursuant to this Clause is to attempt to settle the
                dispute between the Parties.
            </li>
        </ul>
        <p>&nbsp;</p>
        <p>
            After the expiration of the time established by or agreed upon under
            the Clause for agreement on a dispute resolution process, any Party
            which has complied with the provisions of Clause 27 and may in
            writing terminate the dispute resolution process provided for in
            those paragraphs and may then refer the dispute to arbitration or
            commence Court proceedings relating to the dispute.
        </p>
        <h5>29. GENERAL</h5>
        <p>
            Any notice given under this agreement must be in writing, addressed
            to the other party&rsquo;s contact persons as notified by the other
            party.
        </p>
        <p>&nbsp;</p>
        <p>
            This agreement does not create a relationship of employment, agency
            or partnership between the parties.
        </p>
        <p>
            Techno Serve may sub-contract our obligations under this agreement.
        </p>
        <p>&nbsp;</p>
        <p>
            Techno Serve may assign all or part of its rights or obligations
            under this agreement to a 3rd party, by suppling notice in writing
            to you.
        </p>
        <p>&nbsp;</p>
        <p>
            The failure of a party at any time to insist on performance by the
            other party of an obligation under this agreement is not a waiver of
            any of its rights.
        </p>
        <p>&nbsp;</p>
        <p>
            If part or all of any of the provisions of this agreement is illegal
            or unenforceable, it will be severed from this agreement, and will
            not affect the continued operation of the remaining provisions.
        </p>
        <p>
            The additional terms and conditions referred to sections 18, 19, 20,
            21, and 22 do not apply to the extent that they:
        </p>
        <ul>
            <li aria-level="1">
                are not permitted under United Kingdom law; or
            </li>
            <li aria-level="1">
                exclude or unlawfully limit any applicable Consumer Guarantee or
                Title Guarantee.<ul>
                    <li aria-level="2">&nbsp;</li>
                </ul>
            </li>
        </ul>
        <p>
            Techno Serve may change this agreement from time to time. The new
            terms will apply to any Service that commences after the date that
            Techno Serve publish the changed terms and conditions. Your
            engagement of our Services after that date signifies your acceptance
            of the amended agreement.
        </p>
        <p>
            This agreement is governed by the laws of United Kingdom and the
            Commonwealth of United Kingdom. Each party irrevocably submits to
            the exclusive jurisdiction of the courts of United Kingdom and shall
            not:
        </p>
        <ul>
            <li aria-level="1">
                object to an action being brought in the United Kingdom Registry
                of a court of that State or Federal Court; or
            </li>
            <li aria-level="1">
                assert that any action has been brought in an inconvenient
                forum;
            </li>
            <li aria-level="1">
                and each party undertakes to refrain from:<ul>
                    <li aria-level="2">
                        bringing an action in any other court or tribunal
                        whether within United Kingdom or otherwise; and
                    </li>
                    <li aria-level="2">
                        seeking pursuant to the Jurisdiction of Courts
                        (Cross-vesting) Act 1987 (Qld) (as amended) or otherwise
                        to transfer any action to another State or Territory; in
                        relation to any dispute which arises directly or
                        indirectly from this agreement.
                    </li>
                    <li aria-level="2">&nbsp;</li>
                </ul>
            </li>
        </ul>
        <p>
            This agreement is to be read subject to any legislation that
            prohibits or restricts the exclusion, restriction or modification of
            any implied warranties, conditions or obligations. If such
            legislation applies, to the extent possible, Techno Serve limits its
            liability in respect of any claim to, at Techno Serve&rsquo;s
            option:
        </p>
        <ul>
            <li aria-level="1">the redelivery of the Services: or</li>
            <li aria-level="1">
                the payment of the cost of redelivery of the Services or
                acquiring equivalent services;
            </li>
            <li aria-level="1">
                This agreement constitutes the entire agreement of the parties
                as to the subject matter and supersedes and cancels all prior
                arrangements, understandings and negotiations in connection with
                it. Any statement made in negotiations for this agreement which
                is not set out in this agreement does not form part of the
                agreement between the parties.<ul>
                    <li aria-level="2">&nbsp;</li>
                </ul>
            </li>
        </ul>
        <h5>30. INTERPRETATION</h5>
        <p>In this agreement:</p>
        <ul>
            <li aria-level="1">
                a reference to &ldquo;this agreement&rdquo; means these terms
                and conditions (including any schedule) together with a Purchase
                Order or Pricing Structure (if any);
            </li>
            <li aria-level="1">
                headings and bold type are for convenience only and do not
                affect the interpretation of these terms;
            </li>
            <li aria-level="1">
                the singular includes the plural and the plural includes the
                singular;
            </li>
            <li aria-level="1">words of any gender include all genders;</li>
            <li aria-level="1">
                other parts of speech and grammatical forms of a word or phrase
                defined in this agreement have a corresponding meaning, unless
                the context clearly requires otherwise;
            </li>
            <li aria-level="1">
                an expression importing a person includes any company,
                partnership, joint venture, association, corporation or other
                body corporate and any government agency as well as an
                individual;
            </li>
            <li aria-level="1">
                a reference to any legislation includes all delegated
                legislation made under it, and amendments, consolidations,
                replacements or re-enactments of any of them;
            </li>
            <li aria-level="1">
                a reference to a party to a document includes that party&rsquo;s
                successors and permitted assignees;
            </li>
            <li aria-level="1">
                a promise on the part of 2 or more persons binds them jointly
                and severally;
            </li>
            <li aria-level="1">
                no provision of this agreement will be construed adversely to a
                party because that party was responsible for the preparation of
                this agreement or that provision; and
            </li>
            <li aria-level="1">
                specifying anything in this agreement after the words
                &ldquo;include&rdquo; or &ldquo;for example&rdquo; or similar
                expressions does not limit what else is included.<ul>
                    <li aria-level="2">&nbsp;</li>
                </ul>
            </li>
        </ul>
        <p>Definitions</p>
        <p>
            Additional Costs means all additional costs that Techno Serve are
            permitted to charge you under this agreement.
        </p>
        <p>Approval Item is defined in clause 8.1.</p>
        <p>
            United Kingdom Consumer Law means Schedule 2 of the Competition and
            Consumer Act 2010 (Cth).
        </p>
        <p>
            Techno Serve, we, us or our means Techno Serve LTD of Level 4,
            Broken Links Usually occur when pages are renamed or removed from an
            existing or new website. Search engines look at the number of broken
            links when determining a website&rsquo;s ranking, making regular
            cleanup necessary. The volume of work involved and frequency vary
            with each individual website. Therefore, clean up is not included in
            your SEO campaign. Techno Serve will do regular broken link checks
            and advise you of what broken links need to be cleaned up.
        </p>
        <p>
            Change of Strategy Mid-Campaign If you decide to change your
            keywords, ad text, ad targeting, ad creative within 3 months of
            commencement of the Online Advertising services or 12 months of the
            commencement of the Search Engine Optimisation services, you will be
            charged at our Professional Hourly Rate to make those changes.
        </p>
        <p>
            Claim means a demand, action or proceeding of any nature whether
            actual or threatened.
        </p>
        <p>
            Client, you or your means, in relation to any work that Techno Serve
            do for you:
        </p>
        <ul>
            <li aria-level="1">
                the person named as the Client in the Purchase Order;
            </li>
            <li aria-level="1">
                if there is no Purchase Order, then the person named as the
                Client in the Pricing Structure; or
            </li>
            <li aria-level="1">
                if there is no Pricing Structure, then the person for whom
                Techno Serve are undertaking the Service.<ul>
                    <li aria-level="2">&nbsp;</li>
                </ul>
            </li>
        </ul>
        <p>Client Content is defined in section 5.</p>
        <p>Confidential Information of a party:</p>
        <ul>
            <li aria-level="1">1. means any information:</li>
            <li aria-level="1">
                regarding that party&rsquo;s business or affairs;
            </li>
            <li aria-level="1">
                regarding that party&rsquo;s customers, employees, or other
                people doing business with that party;
            </li>
            <li aria-level="1">which is by its nature confidential;</li>
            <li aria-level="1">
                which is designated as confidential by that party at the time of
                disclosure or within 14 days after disclosure; or
            </li>
            <li aria-level="1">
                which the other party knows or ought to know is confidential;<ul
                >
                    <li aria-level="2">&nbsp;</li>
                </ul>
            </li>
        </ul>
        <p>
            Consumer Guarantee means a consumer guarantee applicable to this
            agreement under the United Kingdom Consumer Law, (including any
            &lsquo;express warranty&rsquo; within the meaning of section 2(1) of
            the United Kingdom Consumer Law).
        </p>
        <p>
            Content Management System (CMS) A content management system (CMS) is
            a web-based software application or set of related programs that are
            used to create and manage digital website content.
        </p>
        <p>
            Copywriting &amp; Content Generation All SEO campaigns include
            initial website copywriting and content generation as part of the
            ongoing article submission and Link Building strategy. If your
            advertising strategy requires additional copywriting and content
            generation in the form of blog articles, press releases or
            additional landing page or website content this can be produced at
            our Professional Hourly Rate.
        </p>
        <p>
            Digital Marketing Campaign is the execution of the Services as
            defined in section 3, combined with the strategy, keywords, ad text,
            ad targeting, ad creative as agreed between the client and Techno
            Serve.
        </p>
        <p>Fees means, in respect of a Service:</p>
        <p>
            (a) the Fees payable to us for the Service as set out in a Pricing
            Structure or Invoice or
        </p>
        <p>
            (b) if no Fees are specified, Fees for all work Techno Serve do in
            the course of the Service calculated in accordance with section 23.
        </p>
        <p>&nbsp;</p>
        <p>
            Finalisation means when the Service is handed over to you for your
            data entry and/or testing (not when the Service is launched).
        </p>
        <p>&nbsp;</p>
        <p>
            GST means a goods and services tax or similar tax levied in United
            Kingdom.
        </p>
        <p>Insolvent in relation to a party, means that:</p>
        <ul>
            <li aria-level="1">
                the party has ceased or taken steps to cease to conduct its
                business in the normal manner;
            </li>
            <li aria-level="1">
                the party has entered into or resolved to enter into any
                arrangement, composition or compromise with or assignment for
                the benefit of its creditors or any class of them;
            </li>
            <li aria-level="1">
                the party is unable to pay its debts when they are due;
            </li>
            <li aria-level="1">
                a liquidator or provisional liquidator is appointed to the
                party, or a receiver, receiver and manager, official manager,
                trustee or similar official is appointed over any of the
                party&rsquo;s assets or undertakings;
            </li>
            <li aria-level="1">
                an application or order is made or a resolution is passed for
                the winding up of the party; or
            </li>
            <li aria-level="1">
                an event similar to one above occurs in respect of the party in
                any non-United Kingdom jurisdiction.<ul>
                    <li aria-level="2">&nbsp;</li>
                </ul>
            </li>
        </ul>
        <p>
            Intellectual Property Rights means all industrial and intellectual
            property rights anywhere in the world, including:
        </p>
        <ul>
            <li aria-level="1">
                copyright, patents, trademarks, plant breeder&rsquo;s rights,
                rights in circuit layouts, registered designs and any right to
                have confidential information kept confidential; and
            </li>
            <li aria-level="1">
                any application or right to apply for registration of any of the
                rights referred to above.<ul>
                    <li aria-level="2">&nbsp;</li>
                </ul>
            </li>
        </ul>
        <p>
            Keyword Recommendations Techno Serve will aim to find the most
            profitable keywords for your business. These keywords will have the
            right context, have significant demand, rank potential, and able to
            grow current organic visibility. Once these are agreed, we do not
            recommend a Change of Strategy Mid-Campaign. The movement of these
            keywords depends on a number of factors including the nature of the
            business, industry, search volume and search demand. Improvement
            comes gradually and it takes months of monitoring before we gauge
            keyword performance.
        </p>
        <p>&nbsp;</p>
        <p>
            Landing Page or Website Development We will provide an initial
            landing page or website assessment to recommend changes to improve
            your conversion rate. If your landing page or website is built on
            one of our supported Content Management Systems we may be able to
            make changes to your landing page or website at our Professional
            Hourly Rate.
        </p>
        <p>&nbsp;</p>
        <p>
            Link Building We will create hyperlinks (backlinks) from a number of
            different news, blog and directory websites to your website&rsquo;s
            URL. Search engines analyse the popularity, relevance, and authority
            of a website through the number of quality hyperlinks pointing back
            to the website. Growing the backlink profile of a website is a
            critical part of SEO. The more quality backlinks a website has from
            trusted sources, the better the chances are for ranking at the top
            of search results.
        </p>
        <p>&nbsp;</p>
        <p>
            Local SEO Report As part of the search engine optimisation Services
            and in accordance with Techno Serve&rsquo;s discretion we will
            prepare a comprehensive report that details the recommended best
            practice changes to local directory listings that are necessary to
            improve the website&rsquo;s rankings in the most popular search
            engines at that point in time. These practices will change from time
            to time as determined by the regularity of the search engines
            algorithm updates. Techno Serve will use its best endeavours to
            update and reissue the Local SEO Report as frequently as Techno
            Serve deems is necessary to reflect best practice local SEO
            practices.
        </p>
        <p>&nbsp;</p>
        <p>
            Techno Serve will create local citations for the client. Citations
            show the website&rsquo;s relevance and validity, which help search
            engines identify the business&rsquo; expertise in a particular
            niche. Citations include local directory listings such as Google My
            Business, Bing Places, Yelp, Maps Connect (Apple), and many more.
            For these local citations to be effective, the business name,
            address, and phone number (NAP) must be consistently listed across
            the web. All these will be detailed in the Local SEO Report we will
            send to the client.
        </p>
        <p>Loss means:</p>
        <ul>
            <li aria-level="1">
                any liability, cost, expense, loss, personal injury (including
                illness), death or damage; and
            </li>
            <li aria-level="1">
                in relation to a Claim, Loss includes amounts payable on the
                Claim and (whether or not the Claim is successful), legal costs
                and disbursements on a full indemnity basis.<ul>
                    <li aria-level="2">&nbsp;</li>
                </ul>
            </li>
        </ul>
        <p>
            Monthly Progress Report Every month, we will send a report which
            details the Digital Marketing Campaign&rsquo;s progress and enquiry
            volume (where available). This is also the time when account
            managers schedule calls to clients to explain how the Digital
            Marketing Campaign is progressing and if there are recommended
            changes needed to be completed to further improve the Digital
            Marketing Campaign.
        </p>
        <p>
            Moral Rights are defined in section 189 of the Copyright Act 1968
            (Cth), and includes any similar rights in any jurisdiction outside
            the United Kingdom.
        </p>
        <p>&nbsp;</p>
        <p>
            New Website Migration Maintaining organic position in search results
            when launching a new website requires extensive planning &amp;
            research and careful &amp; precise execution. There is a strict
            process that needs to be followed to ensure all ranking equity,
            organic rankings, and traffic are retained. A big part of this
            process is mapping and implementing a series of 301 redirects. When
            planning the new website build, please contact Techno Serve and we
            will provide you with a list of key pages and content that need to
            be included as part of the new site. In addition, when the site is
            nearing completion, please let us know and we will produce a mapping
            document that will lay out what old pages need to be redirected to
            new pages to ensure no ranking equity is lost.
        </p>
        <p>&nbsp;</p>
        <p>
            Online Advertising includes Search Engine Advertising, Display
            Advertising, &amp; Social Media Advertising.
        </p>
        <p>
            On Page SEO Report As part of the search engine optimisation
            Services and in accordance with Techno Serve&rsquo;s discretion we
            will prepare a comprehensive report that details the recommended
            best practice changes to the website that are necessary to improve
            the website&rsquo;s rankings in the most popular search engines at
            that point in time. These practices will change from time to time as
            determined by the regularity of the search engines algorithm
            updates. Techno Serve will use its best endeavours to update and
            reissue the On Page SEO Report as frequently as Techno Serve deems
            is necessary to reflect best practice on-page SEO practices.
        </p>
        <p>&nbsp;</p>
        <p>
            The On Page SEO Report will recommend a series of changes to the
            website (on site changes). Generally, most of the on-site content
            and basic structural changes for an SEO campaign can be done through
            the website&rsquo;s Content Management System (CMS). However, there
            may be more major structural changes required on your website such
            as changes to: the URL structure, new page templates, sitemaps,
            website crawlability, mobile friendliness, page speed, social media
            buttons, breadcrumbs snippet, structured data schema, and Broken
            Links cleanup which will need to be completed by the clients website
            developer. If your website is built on one of our supported Content
            Management Systems we may be able to make changes to your website at
            our Professional Hourly Rate.
        </p>
        <p>&nbsp;</p>
        <p>
            Privacy Policy Before you can conduct search engine or social media
            advertising your website must have a privacy policy stating what you
            do to protect your visitors&rsquo; privacy and disclose the use of
            cookies on the site. We are unable to activate live search engine or
            social media advertising campaigns until your website has a
            compliant privacy policy. We can prepare one for you at our
            Professional Hourly Rate.
        </p>
        <p>
            Pricing Structure means a proposal or fee estimate that Techno Serve
            provide to you in respect of any work that you have asked us to do.
        </p>
        <p>&nbsp;</p>
        <p>
            Professional Hourly Rate means the rate Techno Serve charges per
            hour for professional Services and is currently what client approve
            + GST (subject to change).
        </p>
        <p>
            Purchase Order means a document issued (in writing or
            electronically) by us to you that sets out:
        </p>
        <ul>
            <li aria-level="1">
                the Services that Techno Serve will provide to you;
            </li>
            <li aria-level="1">
                the estimated times within which those Services will be
                provided; and
            </li>
            <li aria-level="1">
                the Fees payable to us for those Services.<ul>
                    <li aria-level="2">&nbsp;</li>
                </ul>
            </li>
        </ul>
        <p>
            Schedule of Fees means the rates and packages attached to this
            document, and any replacement of that professional services schedule
            released from time to time.
        </p>
        <p>
            Service means, in relation to any work that Techno Serve do for you:
        </p>
        <ul>
            <li aria-level="1">the Service described in a Purchase Order;</li>
            <li aria-level="1">
                if there is no Purchase Order, the Service described in a
                Pricing Structure;
            </li>
            <li aria-level="1">
                if there is no Pricing Structure, then the Service described in
                the Specifications; or
            </li>
            <li aria-level="1">
                if there are no Specifications, then the work that you have
                asked us to do.<ul>
                    <li aria-level="2">&nbsp;</li>
                </ul>
            </li>
        </ul>
        <p>
            Service Intellectual Property means designs, artwork, software and
            materials provided to you in the course of the Service, and any
            other Intellectual Property Rights created in the course of the
            Service, but does not include:
        </p>
        <ul>
            <li aria-level="1">
                the Content Management System (except to the extent that Techno
                Serve have modified it);
            </li>
            <li aria-level="1">
                the Techno Serve website Tools (except to the extent that Techno
                Serve have modified them); or
            </li>
            <li aria-level="1">
                Client Content.<ul>
                    <li aria-level="2">&nbsp;</li>
                </ul>
            </li>
        </ul>
        <p>
            Services means the Services that Techno Serve provide to you in the
            course of the Service, as described in section 3.
        </p>
        <p>&nbsp;</p>
        <p>
            Specifications means specifications for the work that you have asked
            us to do, and that you provide to us before or at the commencement
            of the Service.
        </p>
        <p>&nbsp;</p>
        <p>
            Variation means changes to the Pricing Structure, Specifications as
            described in section 6 and elsewhere in this agreement.
        </p>
        <p>&nbsp;</p>
        <p>
            Variation Notice means is the written notification regarding the
            costs associated with Variations as described in section 6 and
            elsewhere in this agreement.
        </p>
        <p>&nbsp;</p>
        <p>
            Warranty is any fix required to a supplied Techno Serve Service
            within 28 days of Finalisation. The determination of warranty labour
            is at Techno Serve&rsquo;s discretion.
        </p>
        <p>&nbsp;</p>
        <p>
            Website Maintenance &amp; Security Updates A slow-loading, poorly
            working website will negatively affect the success of any Digital
            Marketing Campaign.&nbsp;
        </p>
        <p>&nbsp;</p>
        <p>
            If a search engine determines that a website has broken pages, spam
            or viruses, it would no longer list the website in search
            results.&nbsp;
        </p>
        <p>&nbsp;</p>
        <p>
            Search engines make sure that the links served at the top of search
            results are quality websites that visitors would find helpful and
            relevant. To keep your Digital Marketing Campaign working optimally,
            regular website maintenance and security updates must be done.&nbsp;
        </p>
        <p>&nbsp;</p>
        <p>
            This includes checking the website&rsquo;s back-end for any bugs and
            errors, monitoring search console, conducting link cleanup, security
            version updates and patches.&nbsp;
        </p>
        <p>&nbsp;</p>
        <p>
            The client&rsquo;s website developer must ensure these tasks are
            completed regularly. If your website is built on one of our
            supported Content Management Systems we may be able to make changes
            to your website at our Professional Hourly Rate.
        </p>
        <h4>*. AWS Hosting Service Agreement</h4>
        <p>1. SERVICES PROVIDED:</p>
        <p>
            1.1 TechnoServe agrees to provide AWS (Amazon Web Services) hosting
            services &amp; Support for CARE AND RELIEF FOUNDATION&apos;s website
            and associated application - iCHARMS.
        </p>
        <p>
            1.2 The hosting services include but are not limited to technical
            support necessary to maintain optimal performance.
        </p>
        <p>
            1.3 Techno Serve shall ensure that the AWS hosting environment
            complies with industry best practices and security standards.
        </p>
        <p>2. TERM AND TERMINATION:</p>
        <p>
            2.1 The initial term of this Agreement must be 12 months starting
            from the Effective Date.
        </p>
        <p>
            2.2 Either party may terminate this Agreement upon written notice if
            the other party breaches any material term or condition and fails to
            remedy such breach within thirty (30) days of receiving written
            notice of the breach.
        </p>
        <p>3. PAYMENT:</p>
        <p>
            3.1 Client agrees to pay Techno Serve the agreed-upon hosting fees
            as specified in Invoice.
        </p>
        <p>3.2 Payments shall be made on a monthly basis.</p>
        <p>4. SUPPORT AND MAINTENANCE:</p>
        <p>
            4.1 Techno Serve will provide technical support and maintenance for
            the AWS hosting environment.
        </p>
        <p>
            4.2 Emergency support outside of regular business hours may be
            subject to additional fees as outlined in Schedule A.
        </p>
        <br /><br />
    </div>
</Layout>
<!-- End Project Details Area -->
<style>
    ul > li {
        list-style-type: disc;
    }
</style>
