---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Website Development &amp; Annual Maintenance Contract Terms and Conditions - Techno Serve Software Solutions"
>
    <!-- Start Breadcrumb 
    ============================================= -->
    <div
        class="breadcrumb-area bg-gray bg-cover"
        style="background-image: url(/assets/img/shape/banner-3.jpg);"
    >
        <div class="container">
            <div class="breadcrumb-item">
                <div class="breadcrum-shape">
                    <img src="/assets/img/shape/16.png" alt="Image Not Found" />
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li>
                                    <a href="/"
                                        ><i class="fas fa-home"></i> Home</a
                                    >
                                </li>
                                <li class="active">Website Development & Annual Maintenance Contract Terms and Conditions</li>
                            </ol>
                        </nav>
                        <h1>Website Development and Annual Maintenance Contract Terms and Conditions</h1><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <div class="container">
        <ol>
            <li><strong>&nbsp;Scope of Work:</strong></li>
        </ol>
        <p>
            1.1 The Developer shall design, develop, test, and deploy a custom
            website for the Client, a charitable organization, using React. The
            website will include responsive design, interactive features,
            multimedia integration, user authentication, donation portals, event
            calendars, and other functionalities essential for a charity
            website.
        </p>
        <p>
            1.2 The Developer will provide ongoing maintenance and support
            services, including bug fixes, updates, and technical support, for a
            period of 12 months after the website&rsquo;s launch.
        </p>
        <p>&nbsp;</p>
        <ol start="2">
            <li><strong>&nbsp;Project Timeline:</strong></li>
        </ol>
        <p>
            2.1 The project shall commence on 1-04-2024 and shall be completed,
            tested, and ready for launch by 31-03-2025.
        </p>
        <p>
            2.2 The maintenance and support services will commence from the
            website&rsquo;s launch date and continue for the duration specified
            in Section 1.2.
        </p>
        <p>&nbsp;</p>
        <ol start="3">
            <li><strong>&nbsp;Payment Terms:</strong></li>
        </ol>
        <p>
            3.1 The Client shall pay the Developer the total project cost of
            &pound;3,500 as follows:
        </p>
        <ul>
            <li aria-level="1">
                Initial Payment: &pound;2,000 due upon signing this Agreement.
            </li>
            <li aria-level="1">
                Progress Payment: &pound;1,000 due upon design approval.
            </li>
            <li aria-level="1">
                Final Payment: &pound;500 due upon completion and launch of the
                website.
            </li>
        </ul>
        <p>
            3.2 Invoices will be issued by the Developer and are payable within
            15 days from the date of receipt.
        </p>
        <p>&nbsp;</p>
        <ol start="4">
            <li><strong>&nbsp;Client Responsibilities:</strong></li>
        </ol>
        <p>
            4.1 The Client shall provide all necessary content, images, and
            other materials required for the website development. Delays in
            content submission may impact the project timeline.
        </p>
        <p>
            4.2 The Client shall appoint a representative who will be the main
            point of contact for the Developer during the project duration.
        </p>
        <p></p>
        <ol start="5">
            <li><strong>&nbsp;Intellectual Property:</strong></li>
        </ol>
        <p>
            5.1 Upon receipt of full payment, the Client shall own the
            intellectual property rights to the developed website, excluding API
            and Donation Portal Integration with iCHARMS. The Developer retains
            the right to showcase the project in its portfolio.
        </p>
        <ol start="6">
            <li><strong>&nbsp;Confidentiality:</strong></li>
        </ol>
        <p>
            6.1 Both parties agree to maintain the confidentiality of any
            proprietary or sensitive information shared during the project and
            thereafter.
        </p>
        <ol start="7">
            <li><strong>&nbsp;Termination:</strong></li>
        </ol>
        <p>
            7.1 Either party may terminate this Agreement with written notice if
            the other party breaches any material term of the agreement. In the
            event of termination, the Client shall pay for the services rendered
            up to the termination date.
        </p>
        <ol start="8">
            <li>
                <strong>&nbsp;Governing Law and Dispute Resolution:</strong>
            </li>
        </ol>
        <p>
            8.1 This Agreement shall be governed by and construed in accordance
            with the laws of England and Wales.
        </p>
        <p>
            8.2 Any disputes arising under or in connection with this Agreement
            shall be settled through arbitration, to take place in England and
            Wales.
        </p>
        <ol start="9">
            <li><strong>&nbsp;Development Details:</strong></li>
        </ol>
        <p>
            9.1 The website developed for CARE AND RELIEF FOUNDATION will
            incorporate features specific to a charitable organization,
            including but not limited to:
        </p>
        <ul>
            <li aria-level="1">
                Donation Portals: Secure online platforms for accepting
                donations from supporters.
            </li>
            <li aria-level="1">
                Multimedia Integration: Ability to host images, videos, and
                interactive content to engage visitors.
            </li>
            <li aria-level="1">
                Blog/News Section: To share updates, success stories, and news
                related to the foundation&rsquo;s activities.
            </li>
            <li aria-level="1">
                User Authentication: Secure login system for registered users.
            </li>
        </ul>
        <ol start="10">
            <li><strong>&nbsp;Mobile Responsiveness:</strong></li>
        </ol>
        <p>
            10.1 The website will be fully responsive, ensuring optimal user
            experience across various devices, including smartphones, tablets,
            laptops, and desktops.
        </p>
        <ol start="11">
            <li><strong>&nbsp;Security Measures:</strong></li>
        </ol>
        <p>
            11.1 The Developer will implement robust security measures,
            including SSL encryption, firewall protection, and regular security
            audits, to safeguard the website against potential cyber threats and
            unauthorized access.
        </p>
        <p></p>
        <ol start="12">
            <li><strong>&nbsp;Training and Documentation:</strong></li>
        </ol>
        <p>
            12.1 The Developer will provide training sessions for CARE AND
            RELIEF FOUNDATION staff members, covering the usage of the Website,
            basic troubleshooting, and content management.
        </p>
        <p>
            12.2 Comprehensive documentation outlining website features,
            functionalities, and maintenance procedures will be provided to the
            Client for future reference.
        </p>
        <ol start="13">
            <li><strong>&nbsp;Support and Maintenance:</strong></li>
        </ol>
        <p>
            13.1 The Developer will offer technical support and maintenance
            services after the website&rsquo;s launch date. This includes
            resolving technical issues, performing updates, and ensuring the
            website&rsquo;s smooth operation which is an additional cost please
            refer to section No 14 &ndash; SEO Services.
        </p>
        <ol start="14">
            <li><strong>&nbsp;Additional Services:</strong></li>
        </ol>
        <p>
            14.1 Any additional features or services requested by CARE AND
            RELIEF FOUNDATION outside the scope of this Agreement will be
            considered as separate project(s). The parties will enter into
            additional agreements defining the scope, timelines, and costs for
            such services.
        </p>
        <ol start="15">
            <li><strong>&nbsp;Amendment and Modification:</strong></li>
        </ol>
        <p>
            15.1 Any changes or modifications to this Agreement must be made in
            writing and agreed upon by both parties.
        </p>
        <ol start="16">
            <li><strong>&nbsp;Data Backup:</strong></li>
        </ol>
        <p>
            16.1 Automated daily backups of the website&rsquo;s data, including
            content, media files, and user information, will be performed to
            prevent data loss. Backups will be stored securely and can be
            restored in case of any unforeseen incidents.
        </p>
        <ol start="17">
            <li><strong>&nbsp;Dispute Resolution:</strong></li>
        </ol>
        <p>
            17.1 Any disputes arising under or in connection with this Agreement
            shall be resolved amicably through negotiation between the parties.
            If a resolution cannot be reached, the matter will be referred to
            arbitration in accordance with the rules of arbitration in England
            and Wales.
        </p>
        <ol start="18">
            <li><strong>&nbsp;Entire Agreement:</strong></li>
        </ol>
        <p>
            18.1 This Agreement constitutes the entire understanding between the
            parties and supersedes all prior discussions, negotiations, and
            agreements, whether oral or written, relating to the subject matter
            herein.
        </p>
        <ol start="19">
            <li><strong>&nbsp;Future Enhancements:</strong></li>
        </ol>
        <p>
            19.1 The parties acknowledge that technology and online trends
            evolve. The Developer commits to offering consultation services for
            future enhancements or upgrades to the website, ensuring it remains
            contemporary and aligned with emerging technologies. Any such
            services will be subject to a separate agreement.
        </p>
        <ol start="20">
            <li><strong>&nbsp;Force Majeure:</strong></li>
        </ol>
        <p>
            28.1 Neither party shall be liable for any failure or delay in
            performance due to events beyond its reasonable control, including
            but not limited to acts of God, war, terrorism, pandemics, labor
            disputes, or governmental regulations.
        </p>
        <ol start="21">
            <li><strong>&nbsp;Acceptance of Agreement:</strong></li>
        </ol>
        <p>
            21.1 By signing this Agreement, both parties acknowledge that they
            have read, understood, and agreed to all its terms and conditions.
            This Agreement may be executed in counterparts, each of which shall
            be deemed an original, but all of which together shall constitute
            one and the same instrument.
        </p><br><br>
    </div>
    </Layout>
    <style>
        ul > li {
            list-style-type: disc;
        }
    </style>
