<footer
    class="bg-dark text-light"
    style="background-image: url(/assets/img/shape/5.png);"
>
    <div class="container">
        <div class="f-items default-padding-bottom pt-70 pt-xs-0">
            <div class="row">
                <!-- Singel Item -->
                <div class="col-lg-3 col-md-6 footer-item mt-50">
                    <div class="footer-animated-shape">
                        <img
                            src="/assets/img/shape/6.png"
                            alt="Image Not Found"
                        />
                    </div>
                    <div class="f-item about pr-50 pr-xs-0 pr-md-0">
                        <a href="/">
                            <img
                            class="logo"
                            src="/assets/img/logo-light.png"
                            alt="Logo"
                        />
                        </a>
                        <p>
                            Empowering businesses with innovative digital
                            solutions to thrive in the modern era.
                        </p>
                        <div class="footer-social mt-30">
                            <ul>
                                <li>
                                    <a
                                        href="https://www.facebook.com/technoservesolutions"
                                        ><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/techno_serve"
                                        ><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a
                                        href="https://www.linkedin.com/company/techno-serve-solutions"
                                        ><i class="fab fa-linkedin-in"></i></a>
                                </li>
                                <li>
                                    <a  
                                        class="mt-3"
                                        href="https://www.instagram.com/technoservesolutions/"
                                        ><i class="fab fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Singel Item -->

                <!-- Singel Item -->
                <div
                    class="col-lg-3 col-md-6 mt-50 footer-item pl-50 pl-md-15 pl-xs-15"
                >
                    <div class="f-item link">
                        <h4 class="widget-title">
                            Techno Serve Software Solutions
                        </h4>
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="/service">Services</a>
                            </li>
                            <li>
                                <a href="/our-client">Our Clients</a>
                            </li>
                            <li>
                                <a href="/about-us">About Us</a>
                            </li>
                            <li>
                                <a href="/career">Career</a>
                            </li>
                            <li>
                                <a href="/terms-condition">Terms and Conditions</a>
                            </li>
                            <li>
                                <a href="/website-development-annual-maintenance-contract-terms-and-conditions/">Website Development Annual Maintainance</a>
                            </li>
                            <li>
                                <a href="/icharms-pro-it-software-support-agreement-terms-and-conditions">icharms pro IT Software Support Agreement</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Singel Item -->

                <!-- Singel Item -->
                <div class="col-lg-3 col-md-6 footer-item mt-50">
                    <div class="f-item contact">
                        <h4 class="widget-title">Contact Info</h4>
                        <ul>
                            <li>
                                <div class="content">
                                    <strong>Address:</strong>
                                    22 Ombersley Road, Birmingham, England, B12 8XD
                                </div>
                            </li>
                            <li>
                                <div class="content">
                                    <strong>Email:</strong>
                                    <a href="mailto:info@technoservesolutions.com"
                                        >info@technoservesolutions.com</a
                                    >
                                </div>
                            </li>
                            <li>
                                <div class="content">
                                    <strong>Phone:</strong>
                                    <a href="tel:+447429466754">+44 7429 466754</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Singel Item -->

                <!-- Singel Item -->
                <div class="col-lg-3 col-md-6 footer-item mt-50">
                    <div class="f-item newsletter">
                        <h4 class="widget-title">Newsletter</h4>
                        <p>
                            Join our subscribers list to get the instant latest
                            news and special offers.
                        </p>
                        <form action="#">
                            <input
                                type="email"
                                placeholder="Your Email"
                                class="form-control"
                                name="email"
                            />
                            <button type="submit"
                                ><i class="fas fa-arrow-right"></i></button
                            >
                        </form>
                    </div>
                </div>
                <!-- End Singel Item -->
            </div>
        </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom bg-dark text-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>© 2024 Techno Serve Software Solutions. All rights reserved.</p>
                    <p>Images Is Taken From <a href="https://www.freepik.com/" target="_blank">Freepik</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Bottom -->
</footer>
