---
import Layout from "../../../layouts/Layout.astro";
import { SEO } from "astro-seo";
import ourteamList from "../../../../public/assets/js/developers-list";
import SliderNew from "../../../components/SliderNew.astro";
---

<SEO
    title="WordPress Development - Techno Serve Solutions Agency 2024"
    description="A heavily optimized description full of well-researched keywords."
    openGraph={{
        basic: {
            title: "A Very Descriptive Title",
            type: "A type.",
            image: "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
        },
    }}
    twitter={{
        creator: "@jonasmerlins1",
    }}
    extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/assets/img/favicon.png" }],
        // extending the default meta tags
        meta: [
            {
                name: "twitter:image",
                content:
                    "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
            },
            { name: "twitter:title", content: "Tinker Tailor Soldier Spy" },
            { name: "twitter:description", content: "Agent" },
        ],
    }}
/>

<Layout>
    <!-- Start Breadcrumb 
    ============================================= -->
    <div
        class="breadcrumb-area bg-gray bg-cover"
        style="background-image: url(/assets/img/shape/banner-3.jpg);"
    >
        <div class="container">
            <div class="breadcrumb-item">
                <div class="breadcrum-shape">
                    <img src="/assets/img/shape/16.png" alt="Image Not Found" />
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li>
                                    <a href="/"
                                        ><i class="fas fa-home"></i> Home</a
                                    >
                                </li>
                                <li><a href="/services">Services</a></li>
                                <li class="active">WordPress Development</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Star Services Details Area
    ============================================= -->
    <!-- Section One Start -->
    <div
        class="section-one container d-md-flex col-12 my-2 my-md-3 align-items-center"
    >
        <div class="col-12 col-md-6">
            <h1 class="fw-bold text-black display-4">
                WordPress Development Services
            </h1>
        </div>
        <div class="col-12 col-md-6 px-md-5 mx-md-5">
            <p class="text-black our-font mb-md-4 pe-2 px-md-0 mx-md-0">
                Build your online presence and take your charity to the level it
                deserves with our WordPress development services. We create
                high-performing, easy-to-manage WordPress websites that align
                with your business goals.
            </p>
        </div>
    </div>
    <!-- Section one End -->

    <!-- Image section Start Here -->
    <div class="container mb-5">
        <img
            src="/assets/img/service/website-development2.png"
            alt="Website Development"
            class="img-fluid"
        />
    </div>
    <!-- Image section End Here -->

    <!-- Section Two Start -->
    <div class="section-two container d-md-flex align-items-center col-12 my-5">
        <div class="col-12 col-md-7 pe-2 me-2 pe-md-5 me-md-5">
            <h2 class="fw-bold text-black display-6">Why Choose Us</h2>
            <p class="text-black mb-md-4 pe-2 px-md-0 mx-md-0 our-font">
                At Techno Serve Software Solutions, we are experts in creating
                user-friendly websites as your brand digital identity, deliver
                results quickly, and stay within budget. Our experts team offer
                personalised attention, competitive pricing, and Technical SEO
                to enhance your site's visibility.
            </p>
            <div class="d-md-flex mb-4 text-start">
                <div class="col-12 col-md-7 px-md-0 px-2">
                    <ul class="list-group">
                        <li>
                            <i class="fas fa-check list-group-content"></i>
                            <span class="fw-bold "
                                > Web Services & Web Hosting</span
                            >
                        </li>
                        <li>
                            <i class="fas fa-check list-group-content"></i><span
                                class="fw-bold "
                            > WordPress Management</span
                            >
                        </li>
                        <li>
                            <i class="fas fa-check list-group-content"></i>
                            <span class="fw-bold "
                                > Make Your Website Mobile Friendly</span
                            >
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-7 px-md-0 px-2">
                    <ul class="list-group">
                        <li>
                            <i class="fas fa-check list-group-content"></i><span
                                class="fw-bold "
                            > WordPress Web Design creation
                            </span>
                        </li>
                        <li>
                            <i class="fas fa-check list-group-content"></i><span
                                class="fw-bold "
                                > WordPress Themes & Plugins
                                customisation
                            </span>
                        </li>
                        <li>
                            <i class="fas fa-check list-group-content"></i><span
                                class="fw-bold "
                                > WordPress Security and WordPress
                                maintenance
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5">
            <img
                src="/assets/img/service/why-choose-us.png"
                alt="Why Choose Us"
                class="img-fluid"
            />
        </div>
    </div>

    <!-- Section Two End -->

    <!-- Section Three Start -->
    <div class="section-three">
        <div class="row container h-auto py-2 py-md-5">
            <div class="container content col-12 col-md-9 mx-md-5 mt-3 mt-md-0">
                <h2 class="slider-heading our-heading fw-bold">
                    Explore Our Charities Designs
                </h2>
                <p class="text-white our-font">
                    Check out our clients' WordPress websites to see how our
                    expert team creates well-designed, affordable WordPress
                    sites for charities. Some of the projects displayed here.
                </p>
            </div>

            <div class="blank col-3 d-none d-md-block"></div>
        </div>

        <div class="slider-section pb-5">
            <SliderNew />
        </div>
    </div>
    <!-- Section Three End -->

    <!-- Section Four Start -->
    <div
        class="section-four container d-md-flex align-items-center col-12 my-5"
    >
        <div class="container col-12 col-md-5">
            <img
                src="/assets/img/service/mobile-first-opti.png"
                alt="Mobile First Optimization"
                class="img-fluid"
            />
        </div>
        <div class="col-12 col-md-7 px-md-5 mx-md-5 px-2 mt-4 mt-md-0">
            <h2 class="fw-bold text-black display-6">
                Benefits to Create WP Sites With Us
            </h2>
            <p class="text-black our-font">
                WordPress websites provide charities with a strong platform to
                expand their reach and easily manage their online presence. Its
                user-friendly interface allows any team member to update
                content, share stories, and post events without needing
                technical skills.
                <br /><br />Additionally, we offer cost-effective solutions with
                customizable themes and plugins that exactly match your needs
                and keep it appealing enough for the donors to donate your
                islamic charity in the UK. We work on designs to enable These
                features to help build trust, encourage donations, and
                strengthen community support.
            </p>
            <div class="d-flex justify-content-center justify-content-md-start">
                <button class="btn section-four-btn mt-4 mx-md-0"
                    ><a
                        href="https://technoservesolutions.com/services/web-development/website-development/"
                        class="text-white">Website Development</a
                    ><i class="fas fa-arrow-right"></i></button
                >
            </div>
        </div>
    </div>
    <!-- Section Four End -->

    <!-- Section Five Start -->
    <div class="section-two container d-md-flex align-items-center col-12">
        <div class="col-12 col-md-7 me-md-5 pe-md-5">
            <h2 class="fw-bold text-black display-6">
                Our WordPress Development Team
            </h2>
            <p class="text-black mb-2 pe-2 me-md-5 pe-md-5 mb-md-4 our-font">
                We’re here to grow your business across the globe with our
                WordPress development expertise. Our Experts have more than 10
                years of experience in this which ultimately helps the business
                to take them to the next level.
            </p>
            <div class="d-flex justify-content-center justify-content-md-start">
                <button class="btn section-four-btn mt-4 mx-md-0"
                    ><a
                        href="https://technoservesolutions.com/contact/"
                        class="text-white">Contact Us</a
                    ><i class="fas fa-arrow-right"></i></button
                >
            </div>
        </div>
        <div class="col-12 col-md-5 mt-4 mt-md-0">
            <div class="profile-grid">
                <div class="profile-item">
                    <img
                        src="/assets/img/service/OurTeam/anwar.png"
                        alt="anwar"
                    />
                </div>
                <div class="profile-item">
                    <img
                        src="/assets/img/service/OurTeam/mubin.png"
                        alt="mubin"
                    />
                </div>
                <div class="profile-item">
                    <img
                        src="/assets/img/service/OurTeam/sahil.png"
                        alt="sahil"
                    />
                </div>
                <div class="profile-item">
                    <img
                        src="/assets/img/service/OurTeam/hussain.png"
                        alt="hussain"
                    />
                </div>
                <div class="profile-item">
                    <img
                        src="/assets/img/service/OurTeam/samshad.png"
                        alt="samshad"
                    />
                </div>
                <div class="profile-item">
                    <img
                        src="/assets/img/service/OurTeam/kaseem.png"
                        alt="kaseem"
                    />
                </div>
                <div class="profile-item">
                    <img
                        src="/assets/img/service/OurTeam/ayann.png"
                        alt="ayann"
                    />
                </div>
                <div class="profile-item">
                    <img
                        src="/assets/img/service/OurTeam/danial.png"
                        alt="danial"
                    />
                </div>
                <div class="profile-item">
                    <img
                        src="/assets/img/service/OurTeam/ahmed.png"
                        alt="ahmed"
                    />
                </div>
            </div>
        </div>
    </div>

    <!-- Section Five End -->

    <!-- Section Six Faq Section Start -->
    <div class="section-six container">
        <div class="faq-style-one service-faq mt-40">
            <h2 class="mb-30 fw-bold"><b>Frequently Asked Questions</b></h2>
            <div class="accordion mt--20" id="faqAccordion">
                <div class="accordion-item">
                    <h3 class="accordion-header" id="headingOne">
                        <button
                            class="accordion-button"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseOne"
                            aria-expanded="true"
                            aria-controls="collapseOne"
                        >
                            Why is WordPress development important for my
                            charity?
                        </button>
                    </h3>
                    <div
                        id="collapseOne"
                        class="accordion-collapse collapse show"
                        aria-labelledby="headingOne"
                        data-bs-parent="#faqAccordion"
                    >
                        <div class="accordion-body">
                            <p class="our-font">
                                WordPress development is crucial for creating a
                                robust and flexible website that can adapt to
                                your specific needs at the most affordable cost.
                                As the leading Content Management System (CMS)
                                powering over 45% of websites, we create a
                                user-friendly interface and extensive
                                customization options, making it an ideal choice
                                for building websites of all sizes and purposes
                                for your islamic charity.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h3 class="accordion-header" id="headingTwo">
                        <button
                            class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo"
                            aria-expanded="false"
                            aria-controls="collapseTwo"
                        >
                            What will be my website's pricing?
                        </button>
                    </h3>
                    <div
                        id="collapseTwo"
                        class="accordion-collapse collapse"
                        aria-labelledby="headingTwo"
                        data-bs-parent="#faqAccordion"
                    >
                        <div class="accordion-body">
                            <p class="our-font">
                                Pricing is different for each charity based on
                                their specific needs. To get a quote, please
                                consult with our experts to discuss your
                                requirements, and we will provide you with an
                                accurate quotation.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item mb-5">
                    <h3 class="accordion-header" id="headingThree">
                        <button
                            class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseThree"
                            aria-expanded="false"
                            aria-controls="collapseThree"
                        >
                            How can I leverage WordPress development for my
                            website?
                        </button>
                    </h3>
                    <div
                        id="collapseThree"
                        class="accordion-collapse collapse"
                        aria-labelledby="headingThree"
                        data-bs-parent="#faqAccordion"
                    >
                        <div class="accordion-body">
                            <p class="our-font">
                                To leverage WordPress development effectively,
                                consider working with our experienced
                                professionals who can tailor the platform to
                                your specific requirements. Whether you need a
                                simple blog or an appealing wp website, we
                                create a flexible and scalability to accommodate
                                your needs. By investing in WordPress
                                development, you can create a website that
                                stands out and delivers an exceptional user
                                experience in the charity sector.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section Six Faq Section End -->

    <!-- Section Seven Start -->
    <div class="container d-none d-md-block">
        <div
            class="section-seven h-100 rounded-3 d-md-flex align-items-center p-5 mb-5"
        >
            <div class="content col-12 col-md-6">
                <h2 class="text-white display-6 fw-bold">
                    Tell us about your project
                </h2>
                <p class="text-white">
                    To find out more about our services and how we can <br /> help
                    your business, please get in touch.
                </p>
            </div>
            <div class="col-12 col-md-6">
                <div class="d-md-flex email-section">
                    <input
                        type="email"
                        placeholder="Enter your email address"
                        class="form-control"
                    />
                    <button class="seven-btn">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- for mobile  -->
    <div class="container section-seven-mobile d-md-none">
        <div class="content">
            <h2 class="text-white display-6 fw-bold">
                Tell us about your project
            </h2>
            <p class="text-white">
                To find out more about our services and how we can help your
                business, please get in touch.
            </p>
            <div class="d-flex col-12 email-section-mobile mt-5">
                <input
                    type="email"
                    placeholder="Enter your email address"
                    class="form-control"
                />
                <button>Submit</button>
            </div>
        </div>
    </div>

    <!-- Section Seven End -->

    <!-- End Services Details Area -->

    <style>
        .breadcrumb-area {
            /* margin-top: -50px; */
        }
        .breadcrumb-item {
            /* margin-top: -50px; */
        }
        .section-three {
            background-color: #282828;
        }
        .slider-heading {
            color: #5c82ff;
        }
        .swiper {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 200px;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            width: 60%;
        }
        .swiper-slide:nth-child(2n) {
            /* width: 60%; */
        }

        .swiper-slide:nth-child(3n) {
            /* width: 40%; */
        }
        .slider-section {
            height: 80vh;
        }
        .our-heading {
            font-size: 1.75rem;
        }
        .our-font {
            font-size: 1.25rem;
        }
        @media (max-width: 768px) {
            .slider-section {
                height: 56vh;
            }
            .our-font {
                font-size: 1rem;
                color: black;
            }
            .our-heading {
                font-size: 0.9rem;
            }
        }
        .slider-section .swiper-content {
            background-color: #282828;
        }
        .section-four-btn {
            background-color: #8e66ff !important;
        }
        .section-seven {
            background-image: url("/assets/img/service/article-section.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        .section-seven-mobile {
            width: 90%;
            height: 500px;
            background-image: url("/assets/img/service/article-section-mobile.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 13px;
            margin-bottom: 2rem;
            padding: 100px 20px;
        }
        .email-section {
            background-image: linear-gradient(
                to left,
                rgba(0, 0, 0, 0.329),
                white
            );
            border-radius: 5px;
            padding: 5px 5px 5px 5px;
            border: white 1px solid;
        }
        .email-section-mobile {
            background-image: linear-gradient(
                to left,
                rgba(0, 0, 0, 0.329),
                white
            );
            height: 50px;
            border-radius: 10px;
            /* padding: 5px 5px 5px 5px; */
            border: white 1px solid;
        }

        .email-section input {
            background-color: transparent;
            border: none;
        }
        .email-section-mobile input {
            background-color: transparent;
            border: none;
        }
        .email-section-mobile button {
            background-color: black;
            color: white;
            border: none;
            font-size: 1rem;
            padding: 0px 20px 0px 20px;
            padding-right: 40px;
            margin: 5px;
            border-radius: 8px;
            cursor: pointer;
        }
        .email-section input:focus input:active {
            background-color: transparent;
            border: none;
        }
        .email-section input::placeholder {
            color: #4e4e4e;
            font-size: 1.3rem;
        }
        .email-section-mobile input::placeholder {
            color: #4e4e4e;
            font-size: 0.9rem;
        }
        .seven-btn {
            background-color: black;
            color: white;
            border: none;
            /* padding: 10px 20px;  */
            margin-right: 5px;
            border-radius: 5px;
            cursor: pointer;
        }
        .seven-btn:hover {
            background-color: #8e66ff !important;
        }
        .seven-btn:focus {
            background-color: #8e66ff !important;
        }
        .list-group-content {
            color: #8e66ff !important;
        }

        .profile-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px; /* Adjust the gap between items */
            padding: 20px; /* Optional, to add some padding around the grid */
            max-width: 900px; /* Adjust width as needed */
            margin: 0 auto; /* Center the grid horizontally */
        }

        .profile-item {
            background-color: #000;
            border-radius: 15px;
            overflow: hidden;
            border: 2px solid #000; /* To match the rounded corners and frame */
        }

        .profile-item img {
            display: block;
            width: 100%;
            height: auto;
        }
    </style>

    <script
        is:inline
        src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
    ></script>

    <script is:inline>
        var Swiper = new Swiper(".mySwiper", {
            slidesPerView: "auto",
            spaceBetween: 50,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
    </script>
</Layout>
