---
import Layout from "../../../layouts/Layout.astro";
// import serviceList from "../../public/assets/js/service-list";
// const { frontmatter } = Astro.props;

// const url = Astro.url.pathname;
// const segments = url.split("/"); // Split the URL by '/'
// const folderName = segments[segments.length - 3];
import { SEO } from "astro-seo";

---
<SEO
      title="SEO & Website Optimization Services - Techno Serve Solutions Agency 2024"
      description="A heavily optimized description full of well-researched keywords."
      openGraph={{
        basic: {
          title: "A Very Descriptive Title",
          type: "A type.",
          image: "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
        }
      }}
      twitter={{
        creator: "@jonasmerlins1"
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
          },
          { name: "twitter:title", content: "Tinker Tailor Soldier Spy" },
          { name: "twitter:description", content: "Agent" },
        ],
      }}
    />
<Layout>
  <!-- Start Breadcrumb 
    ============================================= -->
  <div
    class="breadcrumb-area bg-gray bg-cover"
    style="background-image: url(/assets/img/shape/banner-3.jpg);"
  >
    <div class="container">
      <div class="breadcrumb-item">
        <div class="breadcrum-shape">
          <img src="/assets/img/shape/16.png" alt="Image Not Found" />
        </div>
        <div class="row">
          <div class="col-lg-8">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li>
                  <a href="/"><i class="fas fa-home"></i> Home</a>
                </li>
                <li><a href="/services">Services</a></li>
                <!-- <li>{folderName}</li> -->
                <li class="active">SEO & Website Optimization Services</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Breadcrumb -->

  <!-- Star Services Details Area
    ============================================= -->
  <div class="services-details-area default-padding">
    <div class="container">
      <div class="services-details-items">
        <div class="row">
          <div
            class="col-xl-8 col-lg-7 pr-45 pr-md-15 pr-xs-15 services-single-content"
          >
            <div class="service-single-thumb"></div>
            <h1 id="search-engine-optimization">Search Engine Optimization</h1>
            <p>
              <img
                src="/assets/img/service/charity-search-engine-optimisation.png"
                alt="Search Engine Optimization"
                style="width: 500px"
              /><br /><br />
            </p>
            <h3 id="what-is-seo-" style="padding-top: 20px;">What is SEO?</h3>
            <p>
              Search Engine Optimization (SEO) is a technique that helps a web
              page rank higher in search engine results pages. It involves
              various strategies and tactics aimed at improving a website&#39;s
              visibility and relevance to specific search queries.
            </p>
            <h3 id="how-seo-works">How SEO Works</h3>
            <p>
              SEO works by optimizing various aspects of a website, including
              its content, structure, and technical elements, to make it more
              attractive to search engines. This optimization process helps
              search engines understand the content and relevance of a website,
              which in turn improves its ranking in search results.
            </p>
            <h3 id="the-benefits-of-seo">The Benefits of SEO</h3>
            <p>
              SEO offers numerous benefits for businesses, including increased
              visibility, targeted traffic, higher conversion rates, and
              improved user experience. By investing in SEO, businesses can
              enhance their online presence, reach their target audience more
              effectively, and ultimately achieve their business objectives.
            </p>
            <p><a href="../contact">Explore our SEO plans</a></p>

            <div class="faq-style-one service-faq mt-40">
              <h2 class="mb-30">Questions about service</h2>
              <div class="accordion mt--20" id="faqAccordion">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                    >
                      Why is SEO important for my website?
                    </button>
                  </h2>
                  <div
                    id="collapseOne"
                    class="accordion-collapse collapse show"
                    aria-labelledby="headingOne"
                    data-bs-parent="#faqAccordion"
                  >
                    <div class="accordion-body">
                      <p>
                        SEO is crucial for ensuring that your website ranks well
                        in search engine results, making it more visible to
                        potential visitors. It helps improve your site's
                        visibility, drive organic traffic, and increase
                        conversion rates.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo"
                    >
                      What factors contribute to the costs of SEO services?
                    </button>
                  </h2>
                  <div
                    id="collapseTwo"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingTwo"
                    data-bs-parent="#faqAccordion"
                  >
                    <div class="accordion-body">
                      <p>
                        The costs of SEO services can vary depending on factors
                        such as the competitiveness of your industry, the
                        complexity of your website, and the scope of services
                        required. Factors like keyword research, content
                        creation, technical optimization, and ongoing monitoring
                        and adjustments all contribute to the overall cost.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseThree"
                      aria-expanded="false"
                      aria-controls="collapseThree"
                    >
                      How can SEO help my business grow?
                    </button>
                  </h2>
                  <div
                    id="collapseThree"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingThree"
                    data-bs-parent="#faqAccordion"
                  >
                    <div class="accordion-body">
                      <p>
                        SEO can help your business grow by increasing your
                        online visibility, driving targeted traffic to your
                        website, and improving your website's usability and user
                        experience. With improved visibility and traffic, you
                        have a greater opportunity to generate leads, increase
                        sales, and achieve your business goals.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="col-xl-4 col-lg-5 mt-md-50 mt-xs-50 pl-30 pl-md-15 pl-xs-15 services-sidebar"
          >
            <div class="single-widget services-list-widget">
              <h4 class="widget-title">Services</h4>
              <!-- <ul>
                                {
                                    Object.keys(serviceList).map((category) => {
                                        // Check if the category matches the folderName
                                        if (category === folderName) {
                                            return (
                                                <li>
                                                    <ul>
                                                        {Object.keys(
                                                            serviceList[
                                                                category
                                                            ],
                                                        ).map((service) => {
                                                            // Filter out data according to JSON format
                                                            if (
                                                                serviceList[
                                                                    category
                                                                ][service] !==
                                                                ""
                                                            ) {
                                                                return (
                                                                    <li>
                                                                        <a
                                                                            href={
                                                                                serviceList[
                                                                                    category
                                                                                ][
                                                                                    service
                                                                                ]
                                                                            }
                                                                        >
                                                                            {service
                                                                                .replace(
                                                                                    /([A-Z])/g,
                                                                                    " $1",
                                                                                )
                                                                                .replace(
                                                                                    /^./,
                                                                                    (
                                                                                        str,
                                                                                    ) =>
                                                                                        str.toUpperCase(),
                                                                                )}
                                                                            <i class="fas fa-angle-right" />
                                                                        </a>
                                                                    </li>
                                                                );
                                                            }
                                                            return null;
                                                        })}
                                                    </ul>
                                                </li>
                                            );
                                        }
                                        return null;
                                    })
                                }
                            </ul> -->
            </div>

            <!-- End Single Widget -->
            <div
              class="single-widget quick-contact-widget text-light"
              style="background-image: url(/assets/img/contact.png);"
            >
              <div class="content">
                <h3>Need Help?</h3>
                <p>
                  Speak with a human to filling out a form? call corporate
                  office and we will connect.
                </p>
                <h2>+(44)7429 466754</h2>
                <h4>
                  <a href="mailto:info@digital.com"
                    >info@technoservesolutions.com</a
                  >
                </h4>
                <a class="btn mt-30 circle btn-sm btn-gradient" href="/contact"
                  >Contact Us</a
                >
              </div>
            </div>
            <!-- Single Widget -->
            <div class="single-widget widget-brochure">
              <h4 class="widget-title">Brochure</h4>
              <ul>
                <li>
                  <a href="#"
                    ><i class="fas fa-file-pdf"></i> Download Brochure
                  </a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fas fa-file-pdf"></i> Company Details
                  </a>
                </li>
              </ul>
            </div>
            <!-- End Single Widget -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Services Details Area -->
</Layout>
