---

interface Props {
	title: string;
}

const { title } = Astro.props;
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Techno Serve Software Solution-We are Best Software agency in UK">

    <!-- ========== Page Title ========== -->
    <title>{title}</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="/image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/themify-icons.css" rel="stylesheet">
    <link href="/assets/css/elegant-icons.css" rel="stylesheet">
    <link href="/assets/css/flaticon-set.css" rel="stylesheet">
    <link href="/assets/css/magnific-popup.css" rel="stylesheet">
    <link href="/assets/css/swiper-bundle.min.css" rel="stylesheet">
    <link href="/assets/css/animate.css" rel="stylesheet">
    <link href="/assets/css/validnavs.css" rel="stylesheet">
    <link href="/assets/css/helper.css" rel="stylesheet">
    <link href="/assets/css/unit-test.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <!-- <link href="style.css" rel="stylesheet"> -->
    <!-- ========== End Stylesheet ========== -->



</head>
<Header/>
<body>
    
    <slot/>
    <Footer/>

    <!-- jQuery Frameworks
    ============================================= -->
    <script is:inline src="/assets/js/jquery-3.6.0.min.js"></script>
    <script is:inline src="/assets/js/bootstrap.bundle.min.js"></script>
    <script is:inline src="/assets/js/jquery.appear.js"></script>
    <script is:inline src="/assets/js/jquery.easing.min.js"></script>
    <script is:inline src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script is:inline src="/assets/js/modernizr.custom.13711.js"></script>
    <script is:inline src="/assets/js/swiper-bundle.min.js"></script>
    <script is:inline src="/assets/js/wow.min.js"></script>
    <script is:inline src="/assets/js/progress-bar.min.js"></script>
    <script is:inline src="/assets/js/circle-progress.js"></script>
    <script is:inline src="/assets/js/isotope.pkgd.min.js"></script>
    <script is:inline src="/assets/js/imagesloaded.pkgd.min.js"></script>
    <script is:inline src="/assets/js/jquery.nice-select.min.js"></script>
    <script is:inline src="/assets/js/count-to.js"></script>
    <script is:inline src="/assets/js/jquery.scrolla.min.js"></script>
    <script is:inline src="/assets/js/YTPlayer.min.js"></script>
    <script is:inline src="/assets/js/TweenMax.min.js"></script>
    <script is:inline src="/assets/js/validnavs.js"></script>
    <script is:inline src="/assets/js/main.js"></script>
</body>

