---
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Our clients - Techno Serve Software Solutions">
         <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area bg-gray bg-cover" style="background-image: url(/assets/img/shape/banner-3.jpg);">
        <div class="container">
            <div class="breadcrumb-item">
                <div class="breadcrum-shape">
                    <img src="/assets/img/shape/16.png" alt="Image Not Found">
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                                <li class="active">Our Clients</li>
                            </ol>
                        </nav>
                        <h1>Our Projects</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start Project 
    ============================================= -->
    <div class="project-style-two-area default-padding">
        <div class="container">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 gallery-content">
                            <div class="magnific-mix-gallery masonary">
                                <div id="gallery-masonary" class="gallery-items colums-2">

                                    <!-- Single Item -->
                                    <div class="gallery-item">
                                        <div class="gallery-style-two">
                                            <div class="thumb">
                                                <img src="/assets/img/portfolio/1.png" alt="thumb">
                                            </div>
                                            <div class="content">
                                                <div class="info">
                                                    <h4><a href="project-details.html">Effective Solutions</a></h4>
                                                    <ul class="gallery-list">
                                                        <li>Digital</li>
                                                        <li>Business</li>
                                                    </ul>
                                                </div>
                                                <div class="button">
                                                    <a href="project-details.html"><i class="fas fa-long-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Item -->
                                    <!-- Single Item -->
                                    <div class="gallery-item">
                                        <div class="gallery-style-two">
                                            <div class="thumb">
                                                <img src="/assets/img/portfolio/1.png" alt="thumb">
                                            </div>
                                            <div class="content">
                                                <div class="info">
                                                    <h4><a href="project-details.html">Marketing Management</a></h4>
                                                    <ul class="gallery-list">
                                                        <li>Advertising</li>
                                                        <li>Grow</li>
                                                    </ul>
                                                </div>
                                                <div class="button">
                                                    <a href="project-details.html"><i class="fas fa-long-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Item -->
                                    <!-- Single Item -->
                                    <div class="gallery-item">
                                        <div class="gallery-style-two">
                                            <div class="thumb">
                                                <img src="/assets/img/portfolio/1.png" alt="thumb">
                                            </div>
                                            <div class="content">
                                                <div class="info">
                                                    <h4><a href="project-details.html">Quick Startup Business</a></h4>
                                                    <ul class="gallery-list">
                                                        <li>Agency</li>
                                                        <li>Company</li>
                                                    </ul>
                                                </div>
                                                <div class="button">
                                                    <a href="project-details.html"><i class="fas fa-long-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Item -->
                                    <!-- Single Item -->
                                    <div class="gallery-item">
                                        <div class="gallery-style-two">
                                            <div class="thumb">
                                                <img src="/assets/img/portfolio/1.png" alt="thumb">
                                            </div>
                                            <div class="content">
                                                <div class="info">
                                                    <h4><a href="project-details.html">Effective Solutions</a></h4>
                                                    <ul class="gallery-list">
                                                        <li>Digital</li>
                                                        <li>Business</li>
                                                    </ul>
                                                </div>
                                                <div class="button">
                                                    <a href="project-details.html"><i class="fas fa-long-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Item -->
                                    <!-- Single Item -->
                                    <div class="gallery-item">
                                        <div class="gallery-style-two">
                                            <div class="thumb">
                                                <img src="/assets/img/portfolio/1.png" alt="thumb">
                                            </div>
                                            <div class="content">
                                                <div class="info">
                                                    <h4><a href="project-details.html">Marketing Management</a></h4>
                                                    <ul class="gallery-list">
                                                        <li>Advertising</li>
                                                        <li>Grow</li>
                                                    </ul>
                                                </div>
                                                <div class="button">
                                                    <a href="project-details.html"><i class="fas fa-long-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Item -->
                                    <!-- Single Item -->
                                    <div class="gallery-item">
                                        <div class="gallery-style-two">
                                            <div class="thumb">
                                                <img src="/assets/img/portfolio/1.png" alt="thumb">
                                            </div>
                                            <div class="content">
                                                <div class="info">
                                                    <h4><a href="project-details.html">Quick Startup Business</a></h4>
                                                    <ul class="gallery-list">
                                                        <li>Agency</li>
                                                        <li>Company</li>
                                                    </ul>
                                                </div>
                                                <div class="button">
                                                    <a href="project-details.html"><i class="fas fa-long-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Item -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Project -->
</Layout>