---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Jobs - Techno Serve Software Solutions">
    <!-- Start Breadcrumb 
    ============================================= -->
    <div
        class="breadcrumb-area bg-gray bg-cover"
        style="background-image: url(assets/img/shape/banner-3.jpg);"
    >
        <div class="container">
            <div class="breadcrumb-item pb-120">
                <div class="row">
                    <div class="col-lg-8">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li>
                                    <a href="#"
                                        ><i class="fas fa-home"></i> Home</a>
                                </li>
                                <li class="active">Carrer</li>
                            </ol>
                        </nav>
                        <h1>Job Openings</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start Team
    ============================================= -->
    <div
        class="team-style-three-area text-center default-padding bg-gray bottom-less"
    >
        <div class="container">
            <div class="row">
                <!-- Single Item -->
                <div class="col-xl-3 col-md-6 mb-30">
                    <div class="team-style-three">
                        <div
                            class="thumb"
                            
                        >
                            <img
                                src="/assets/img/carrer/react-developer.png"
                                alt="Image Not Found"
                            />
                        </div>
                        <div class="content">
                            <h4><a href="/career/fresher-react-developer">Fresher React Developer</a></h4>
                            <span>React Developer</span>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="col-xl-3 col-md-6 mb-30">
                    <div class="team-style-three">
                        <div
                            class="thumb"
                            
                        >
                            <img
                                src="/assets/img/carrer/wordpress-developer.png"
                                alt="Image Not Found"
                            />
                        </div>
                        <div class="content">
                            <h4>
                                <a href="/career/wordpress-developer">WordPress Developer</a>
                            </h4>
                            <span>Developer</span>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="col-xl-3 col-md-6 mb-30">
                    <div class="team-style-three">
                        <div
                            class="thumb"
                            
                        >
                            <img
                                src="/assets/img/carrer/laravel-developer.png"
                                alt="Image Not Found"
                            />
                        </div>
                        <div class="content">
                            <h4>
                                <a href="/career/senior-laravel-developer">Senior Laravel Developer</a>
                            </h4>
                            <span>Laravel Developer</span>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="col-xl-3 col-md-6 mb-30">
                    <div class="team-style-three">
                        <div
                            class="thumb"
                            
                        >
                            <img
                                src="/assets/img/carrer/laravel-developer-intern.png"
                                alt="Image Not Found"
                            />
                        </div>
                        <div class="content">
                            <h4><a href="/career/laravel-developer-internship">Laravel Developer – Internship</a></h4>
                            <span>Laravel Developer</span>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-xl-3 col-md-6 mb-30">
                    <div class="team-style-three">
                        <div
                            class="thumb"
                        >
                            <img
                                src="/assets/img/carrer/digital-marketing.png"
                                alt="Image Not Found"
                            />
                        </div>
                        <div class="content">
                            <h4><a href="/career/senior-digital-marketing-executive">Senior Digital Marketing Executive</a></h4>
                            <span>Digital Marketing</span>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-xl-3 col-md-6 mb-30">
                    <div class="team-style-three">
                        <div
                            class="thumb"
                        >
                            <img
                                src="/assets/img/carrer/digital-marketing-intern.png"
                                alt="Image Not Found"
                            />
                        </div>
                        <div class="content">
                            <h4>
                                <a href="/career/digital-marketing-internship">Digital Marketing Executive - Internship</a>
                            </h4>
                            <span>Digital Marketing</span>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
        </div>
    </div>
    <!-- End Team  -->
</Layout>
