---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Jobs - Techno Serve Software Solutions">
    <!-- Start Breadcrumb 
    ============================================= -->
    <div
        class="breadcrumb-area bg-gray bg-cover"
        style="background-image: url(assets/img/shape/banner-3.jpg);"
    >
        <div class="container">
            <div class="breadcrumb-item pb-120">
                <div class="row hero-content">
                    <div class="text-center">
                        <h1>
                            CAREERS <span class="typing-text" id="typing-text"
                            ></span>
                        </h1>
                        <p class="fs-4 mt-2 mx-auto w-50 d-none d-md-block">
                            We are a company that offers great career opportunities with many benefits.
                        </p>
                        <p class="fs-4 mt-2 mx-auto d-block d-md-none">
                            We are a company that offers great career opportunities with many benefits.
                        </p>
                        <button class="btn btn-primary mt-3"
                            ><a href="#job-openings" class="text-white"
                                >View Job Openings</a
                            ></button
                        >
                    </div>
                    <div class="typing-container">
                        <p class="typing-effect"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="custom-hr">
    <!-- End Breadcrumb -->

    <!-- Start section -->
    <div class="w-100 text-center d-none d-md-block sec-section">
        <h3 class="fs-1"><b>Bringing you to the best career experience</b></h3>
        <p class="mx-auto w-75 fs-5">
            Join Techno Serve Solutions for an exceptional career experience. If
            you believe you would be a great addition to our team, we would love
            to hear from you.
        </p>
        <p>
            Send your CV to <a href="mailto:info@technoservesolutions.com"
                ><span class="text-primary underline"
                    >@technoservesolutions.com*</span
                ></a
            >
        </p>
    </div>

    <div class="mx-4 d-block d-md-none">
        <h3 class="fs-2">Bringing you to the best career experience</h3>
        <p>
            Join Techno Serve Solutions for an exceptional career experience. If
            you believe you would be a great addition to our team, we would love
            to hear from you.
        </p>
        <p>
            Send your CV to <a href="mailto:info@technoservesolutions.com"
                ><span class="text-primary underline"
                    >@technoservesolutions.com*</span
                ></a
            >
        </p>
    </div>
    <!-- end section -->
    <!-- Start Team
    ============================================= -->
    <div
        class="team-style-three-area text-center default-padding bg-gray bottom-less"
        id="job-openings"
    >
        <h1 class="mb-5"><b>Job Openings</b></h1>
        <div class="container">
            <div class="row">
                <!-- Single Item -->
                <div class="col-xl-3 col-md-6 mb-30">
                    <div class="team-style-three">
                        <div class="thumb">
                            <img
                                src="/assets/img/carrer/react-developer.png"
                                alt="Image Not Found"
                            />
                        </div>
                        <div class="content">
                            <h4>
                                <a href="/career/fresher-react-developer"
                                    >Fresher React Developer</a
                                >
                            </h4>
                            <span>React Developer</span>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="col-xl-3 col-md-6 mb-30">
                    <div class="team-style-three">
                        <div class="thumb">
                            <img
                                src="/assets/img/carrer/wordpress-developer.png"
                                alt="Image Not Found"
                            />
                        </div>
                        <div class="content">
                            <h4>
                                <a href="/career/wordpress-developer"
                                    >WordPress Developer</a
                                >
                            </h4>
                            <span>Developer</span>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="col-xl-3 col-md-6 mb-30">
                    <div class="team-style-three">
                        <div class="thumb">
                            <img
                                src="/assets/img/carrer/laravel-developer.png"
                                alt="Image Not Found"
                            />
                        </div>
                        <div class="content">
                            <h4>
                                <a href="/career/senior-laravel-developer"
                                    >Senior Laravel Developer</a
                                >
                            </h4>
                            <span>Laravel Developer</span>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="col-xl-3 col-md-6 mb-30">
                    <div class="team-style-three">
                        <div class="thumb">
                            <img
                                src="/assets/img/carrer/laravel-developer-intern.png"
                                alt="Image Not Found"
                            />
                        </div>
                        <div class="content">
                            <h4>
                                <a href="/career/laravel-developer-internship"
                                    >Laravel Developer – Internship</a
                                >
                            </h4>
                            <span>Laravel Developer</span>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-xl-3 col-md-6 mb-30">
                    <div class="team-style-three">
                        <div class="thumb">
                            <img
                                src="/assets/img/carrer/digital-marketing.png"
                                alt="Image Not Found"
                            />
                        </div>
                        <div class="content">
                            <h4>
                                <a
                                    href="/career/senior-digital-marketing-executive"
                                    >Senior Digital Marketing Executive</a
                                >
                            </h4>
                            <span>Digital Marketing</span>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-xl-3 col-md-6 mb-30">
                    <div class="team-style-three">
                        <div class="thumb">
                            <img
                                src="/assets/img/carrer/digital-marketing-intern.png"
                                alt="Image Not Found"
                            />
                        </div>
                        <div class="content">
                            <h4>
                                <a href="/career/digital-marketing-internship"
                                    >Digital Marketing Executive - Internship</a
                                >
                            </h4>
                            <span>Digital Marketing</span>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
        </div>
    </div>
    <!-- End Team  -->
</Layout>
<style>
    .underline:hover {
        text-decoration: underline;
    }
    .hero-content {
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .hero-content h1 {
        font-size: 62px;
    }
    .sec-section {
        margin-top: 50px;
    }
    .typing-text {
        display: inline-block;
    }
    .custom-hr {
      height: 1px; /* Adjust the height as needed */
      background-color: #000; /* Change the color if needed */
      border: none; /* Remove the default border */
    }
</style>

<script>
    const text = " AT TECHNO SERVE";
    const typingTextElement = document.getElementById("typing-text");

    let index = 0;
    function type() {
        if (index < text.length) {
            typingTextElement.textContent += text.charAt(index);
            index++;
            setTimeout(type, 150); // Adjust typing speed here (higher value for slower typing)
        }
    }

    document.addEventListener("DOMContentLoaded", type);
</script>
